<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>stylo</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>nodio.icns</string>
			<key>CFBundleTypeName</key>
			<string>Stylo Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.textually.stylo.document</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>1</integer>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MacNodioDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleHelpBookFolder</key>
	<string>nodio.help</string>
	<key>CFBundleHelpBookName</key>
	<string>Nodio Help</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2015-2020 Textually Inc. All rights reserved.</string>
	<key>NSMainStoryboardFile</key>
	<string>MainNodio</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>"Nodio" wants to use your microphone for recording purpose.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsSuddenTermination</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>./fonts/opensanscondensed/OpenSansCondensed-Bold.ttf</string>
		<string>./fonts/opensanscondensed/OpenSansCondensed-LightItalic.ttf</string>
		<string>./fonts/opensanscondensed/OpenSansCondensed-Light.ttf</string>
		<string>./fonts/cabincondensed/CabinCondensed-Bold.ttf</string>
		<string>./fonts/cabincondensed/CabinCondensed-SemiBold.ttf</string>
		<string>./fonts/cabincondensed/CabinCondensed-Medium.ttf</string>
		<string>./fonts/cabincondensed/CabinCondensed-Regular.ttf</string>
		<string>./fonts/asap/Asap-BoldItalic.ttf</string>
		<string>./fonts/asap/Asap-MediumItalic.ttf</string>
		<string>./fonts/asap/Asap-Medium.ttf</string>
		<string>./fonts/asap/Asap-Bold.ttf</string>
		<string>./fonts/asap/Asap-SemiBoldItalic.ttf</string>
		<string>./fonts/asap/Asap-Regular.ttf</string>
		<string>./fonts/asap/Asap-SemiBold.ttf</string>
		<string>./fonts/asap/Asap-VF.ttf</string>
		<string>./fonts/asap/Asap-Italic.ttf</string>
		<string>./fonts/playfairdisplay/PlayfairDisplay-Bold.ttf</string>
		<string>./fonts/playfairdisplay/PlayfairDisplay-BoldItalic.ttf</string>
		<string>./fonts/playfairdisplay/PlayfairDisplay-Italic.ttf</string>
		<string>./fonts/playfairdisplay/PlayfairDisplay-Regular.ttf</string>
		<string>./fonts/playfairdisplay/PlayfairDisplay-Black.ttf</string>
		<string>./fonts/playfairdisplay/PlayfairDisplay-BlackItalic.ttf</string>
		<string>./fonts/liberation-mono/LiberationMono-Regular.ttf</string>
		<string>./fonts/liberation-mono/LiberationMono-BoldItalic.ttf</string>
		<string>./fonts/liberation-mono/LiberationMono-Italic.ttf</string>
		<string>./fonts/liberation-mono/LiberationMono-Bold.ttf</string>
		<string>./fonts/Bitstream-Vera-Sans-Mono/VeraMono-Bold-Italic.ttf</string>
		<string>./fonts/Bitstream-Vera-Sans-Mono/VeraMono-Bold.ttf</string>
		<string>./fonts/Bitstream-Vera-Sans-Mono/VeraMono-Italic.ttf</string>
		<string>./fonts/Bitstream-Vera-Sans-Mono/VeraMono.ttf</string>
		<string>./fonts/crimsontext/CrimsonText-SemiBold.ttf</string>
		<string>./fonts/crimsontext/CrimsonText-Bold.ttf</string>
		<string>./fonts/crimsontext/CrimsonText-Regular.ttf</string>
		<string>./fonts/crimsontext/CrimsonText-SemiBoldItalic.ttf</string>
		<string>./fonts/crimsontext/CrimsonText-BoldItalic.ttf</string>
		<string>./fonts/crimsontext/CrimsonText-Italic.ttf</string>
		<string>./fonts/noto-mono/NotoMono-Regular.ttf</string>
		<string>./fonts/cormorantgaramond/CormorantGaramond-Italic.ttf</string>
		<string>./fonts/cormorantgaramond/CormorantGaramond-BoldItalic.ttf</string>
		<string>./fonts/cormorantgaramond/CormorantGaramond-LightItalic.ttf</string>
		<string>./fonts/cormorantgaramond/CormorantGaramond-Light.ttf</string>
		<string>./fonts/cormorantgaramond/CormorantGaramond-SemiBold.ttf</string>
		<string>./fonts/cormorantgaramond/CormorantGaramond-MediumItalic.ttf</string>
		<string>./fonts/cormorantgaramond/CormorantGaramond-Regular.ttf</string>
		<string>./fonts/cormorantgaramond/CormorantGaramond-Bold.ttf</string>
		<string>./fonts/cormorantgaramond/CormorantGaramond-SemiBoldItalic.ttf</string>
		<string>./fonts/cormorantgaramond/CormorantGaramond-Medium.ttf</string>
		<string>./fonts/quicksand/Quicksand-BoldItalic.otf</string>
		<string>./fonts/quicksand/Quicksand-Bold.otf</string>
		<string>./fonts/quicksand/Quicksand-LightItalic.otf</string>
		<string>./fonts/quicksand/Quicksand-Italic.otf</string>
		<string>./fonts/quicksand/Quicksand-Light.otf</string>
		<string>./fonts/quicksand/Quicksand-Regular.otf</string>
		<string>./fonts/quicksand/Quicksand_Dash.otf</string>
		<string>./fonts/robotoslab/RobotoSlab-Thin.ttf</string>
		<string>./fonts/robotoslab/RobotoSlab-Bold.ttf</string>
		<string>./fonts/robotoslab/RobotoSlab-Light.ttf</string>
		<string>./fonts/robotoslab/RobotoSlab-Regular.ttf</string>
		<string>./fonts/sourcecodepro/SourceCodePro-SemiBold.ttf</string>
		<string>./fonts/sourcecodepro/SourceCodePro-Medium.ttf</string>
		<string>./fonts/sourcecodepro/SourceCodePro-Light.ttf</string>
		<string>./fonts/sourcecodepro/SourceCodePro-Black.ttf</string>
		<string>./fonts/sourcecodepro/SourceCodePro-ExtraLight.ttf</string>
		<string>./fonts/sourcecodepro/SourceCodePro-Regular.ttf</string>
		<string>./fonts/sourcecodepro/SourceCodePro-Bold.ttf</string>
		<string>./fonts/martel/Martel-Heavy.ttf</string>
		<string>./fonts/martel/Martel-Regular.ttf</string>
		<string>./fonts/martel/Martel-Light.ttf</string>
		<string>./fonts/martel/Martel-Bold.ttf</string>
		<string>./fonts/martel/Martel-ExtraBold.ttf</string>
		<string>./fonts/martel/Martel-DemiBold.ttf</string>
		<string>./fonts/martel/Martel-UltraLight.ttf</string>
		<string>./fonts/rokkitt/Rokkitt-Bold.ttf</string>
		<string>./fonts/rokkitt/Rokkitt-Thin.ttf</string>
		<string>./fonts/rokkitt/Rokkitt-ExtraBold.ttf</string>
		<string>./fonts/rokkitt/Rokkitt-Black.ttf</string>
		<string>./fonts/rokkitt/Rokkitt-Medium.ttf</string>
		<string>./fonts/rokkitt/Rokkitt-Regular.ttf</string>
		<string>./fonts/rokkitt/Rokkitt-ExtraLight.ttf</string>
		<string>./fonts/rokkitt/Rokkitt-Light.ttf</string>
		<string>./fonts/rokkitt/Rokkitt-SemiBold.ttf</string>
		<string>./fonts/ptmono/PTM55FT.ttf</string>
		<string>./fonts/ibmplexsanscondensed/IBMPlexSansCondensed-MediumItalic.ttf</string>
		<string>./fonts/ibmplexsanscondensed/IBMPlexSansCondensed-Italic.ttf</string>
		<string>./fonts/ibmplexsanscondensed/IBMPlexSansCondensed-Bold.ttf</string>
		<string>./fonts/ibmplexsanscondensed/IBMPlexSansCondensed-Thin.ttf</string>
		<string>./fonts/ibmplexsanscondensed/IBMPlexSansCondensed-Light.ttf</string>
		<string>./fonts/ibmplexsanscondensed/IBMPlexSansCondensed-LightItalic.ttf</string>
		<string>./fonts/ibmplexsanscondensed/IBMPlexSansCondensed-ExtraLight.ttf</string>
		<string>./fonts/ibmplexsanscondensed/IBMPlexSansCondensed-ThinItalic.ttf</string>
		<string>./fonts/ibmplexsanscondensed/IBMPlexSansCondensed-BoldItalic.ttf</string>
		<string>./fonts/ibmplexsanscondensed/IBMPlexSansCondensed-SemiBoldItalic.ttf</string>
		<string>./fonts/ibmplexsanscondensed/IBMPlexSansCondensed-ExtraLightItalic.ttf</string>
		<string>./fonts/ibmplexsanscondensed/IBMPlexSansCondensed-Regular.ttf</string>
		<string>./fonts/ibmplexsanscondensed/IBMPlexSansCondensed-SemiBold.ttf</string>
		<string>./fonts/ibmplexsanscondensed/IBMPlexSansCondensed-Medium.ttf</string>
		<string>./fonts/lato/Lato-Italic.ttf</string>
		<string>./fonts/lato/Lato-LightItalic.ttf</string>
		<string>./fonts/lato/Lato-Thin.ttf</string>
		<string>./fonts/lato/Lato-Bold.ttf</string>
		<string>./fonts/lato/Lato-Black.ttf</string>
		<string>./fonts/lato/Lato-ExtraBold.ttf</string>
		<string>./fonts/lato/Lato-SemiBoldItalic.ttf</string>
		<string>./fonts/lato/Lato-Regular.ttf</string>
		<string>./fonts/lato/Lato-BlackItalic.ttf</string>
		<string>./fonts/lato/Lato-ExtraLightItalic.ttf</string>
		<string>./fonts/lato/Lato-SemiBold.ttf</string>
		<string>./fonts/lato/Lato-MediumItalic.ttf</string>
		<string>./fonts/lato/Lato-BoldItalic.ttf</string>
		<string>./fonts/lato/Lato-ExtraBoldItalic.ttf</string>
		<string>./fonts/lato/Lato-Light.ttf</string>
		<string>./fonts/lato/Lato-Medium.ttf</string>
		<string>./fonts/lato/Lato-ThinItalic.ttf</string>
		<string>./fonts/lato/Lato-ExtraLight.ttf</string>
		<string>./fonts/overpass/Overpass-ExtraLight.ttf</string>
		<string>./fonts/overpass/Overpass-ThinItalic.ttf</string>
		<string>./fonts/overpass/Overpass-BoldItalic.ttf</string>
		<string>./fonts/overpass/Overpass-LightItalic.ttf</string>
		<string>./fonts/overpass/Overpass-ExtraBoldItalic.ttf</string>
		<string>./fonts/overpass/Overpass-Light.ttf</string>
		<string>./fonts/overpass/Overpass-BlackItalic.ttf</string>
		<string>./fonts/overpass/Overpass-Regular.ttf</string>
		<string>./fonts/overpass/Overpass-SemiBoldItalic.ttf</string>
		<string>./fonts/overpass/Overpass-ExtraLightItalic.ttf</string>
		<string>./fonts/overpass/Overpass-Black.ttf</string>
		<string>./fonts/overpass/Overpass-SemiBold.ttf</string>
		<string>./fonts/overpass/Overpass-Bold.ttf</string>
		<string>./fonts/overpass/Overpass-Italic.ttf</string>
		<string>./fonts/overpass/Overpass-ExtraBold.ttf</string>
		<string>./fonts/overpass/Overpass-Thin.ttf</string>
		<string>./fonts/office-code-pro/officecodepro-regular.otf</string>
		<string>./fonts/office-code-pro/officecodepro-bolditalic.otf</string>
		<string>./fonts/office-code-pro/OfficeCodeProD-Bold.otf</string>
		<string>./fonts/office-code-pro/officecodeprod-lightitalic.otf</string>
		<string>./fonts/office-code-pro/OfficeCodeProD-BoldItalic.otf</string>
		<string>./fonts/office-code-pro/officecodepro-lightitalic.otf</string>
		<string>./fonts/office-code-pro/officecodepro-mediumitalic.otf</string>
		<string>./fonts/office-code-pro/OfficeCodeProD-RegularItalic.otf</string>
		<string>./fonts/office-code-pro/officecodeprod-regular.otf</string>
		<string>./fonts/office-code-pro/officecodepro-light.otf</string>
		<string>./fonts/office-code-pro/officecodeprod-light.otf</string>
		<string>./fonts/office-code-pro/officecodepro-regularitalic.otf</string>
		<string>./fonts/office-code-pro/officecodepro-bold.otf</string>
		<string>./fonts/office-code-pro/officecodepro-medium.otf</string>
		<string>./fonts/hack/Hack-Regular.ttf</string>
		<string>./fonts/hack/Hack-Italic.ttf</string>
		<string>./fonts/hack/Hack-BoldItalic.ttf</string>
		<string>./fonts/hack/Hack-Bold.ttf</string>
		<string>./fonts/robotocondensed/RobotoCondensed-Bold.ttf</string>
		<string>./fonts/robotocondensed/RobotoCondensed-Light.ttf</string>
		<string>./fonts/robotocondensed/RobotoCondensed-Italic.ttf</string>
		<string>./fonts/robotocondensed/RobotoCondensed-BoldItalic.ttf</string>
		<string>./fonts/robotocondensed/RobotoCondensed-LightItalic.ttf</string>
		<string>./fonts/robotocondensed/RobotoCondensed-Regular.ttf</string>
		<string>./fonts/merriweather/Merriweather-Bold.ttf</string>
		<string>./fonts/merriweather/Merriweather-Regular.ttf</string>
		<string>./fonts/merriweather/Merriweather-Light.ttf</string>
		<string>./fonts/merriweather/Merriweather-BoldItalic.ttf</string>
		<string>./fonts/merriweather/Merriweather-BlackItalic.ttf</string>
		<string>./fonts/merriweather/Merriweather-Italic.ttf</string>
		<string>./fonts/merriweather/Merriweather-Black.ttf</string>
		<string>./fonts/merriweather/Merriweather-LightItalic.ttf</string>
		<string>./fonts/cairo/Cairo-ExtraLight.ttf</string>
		<string>./fonts/cairo/Cairo-SemiBold.ttf</string>
		<string>./fonts/cairo/Cairo-Regular.ttf</string>
		<string>./fonts/cairo/Cairo-Light.ttf</string>
		<string>./fonts/cairo/Cairo-Black.ttf</string>
		<string>./fonts/cairo/Cairo-Bold.ttf</string>
		<string>./fonts/ibmplexsans/IBMPlexSans-SemiBoldItalic.ttf</string>
		<string>./fonts/ibmplexsans/IBMPlexSans-Medium.ttf</string>
		<string>./fonts/ibmplexsans/IBMPlexSans-SemiBold.ttf</string>
		<string>./fonts/ibmplexsans/IBMPlexSans-MediumItalic.ttf</string>
		<string>./fonts/ibmplexsans/IBMPlexSans-LightItalic.ttf</string>
		<string>./fonts/ibmplexsans/IBMPlexSans-ExtraLight.ttf</string>
		<string>./fonts/ibmplexsans/IBMPlexSans-Thin.ttf</string>
		<string>./fonts/ibmplexsans/IBMPlexSans-ThinItalic.ttf</string>
		<string>./fonts/ibmplexsans/IBMPlexSans-BoldItalic.ttf</string>
		<string>./fonts/ibmplexsans/IBMPlexSans-Light.ttf</string>
		<string>./fonts/ibmplexsans/IBMPlexSans-Italic.ttf</string>
		<string>./fonts/ibmplexsans/IBMPlexSans-Regular.ttf</string>
		<string>./fonts/ibmplexsans/IBMPlexSans-ExtraLightItalic.ttf</string>
		<string>./fonts/ibmplexsans/IBMPlexSans-Bold.ttf</string>
		<string>./fonts/cousine/Cousine-BoldItalic.ttf</string>
		<string>./fonts/cousine/Cousine-Bold.ttf</string>
		<string>./fonts/cousine/Cousine-Italic.ttf</string>
		<string>./fonts/cousine/Cousine-Regular.ttf</string>
		<string>./fonts/Noto_Serif_JP/NotoSerifJP-Bold.otf</string>
		<string>./fonts/Noto_Serif_JP/NotoSerifJP-Medium.otf</string>
		<string>./fonts/Noto_Serif_JP/NotoSerifJP-SemiBold.otf</string>
		<string>./fonts/Noto_Serif_JP/NotoSerifJP-Light.otf</string>
		<string>./fonts/Noto_Serif_JP/NotoSerifJP-Regular.otf</string>
		<string>./fonts/Noto_Serif_JP/NotoSerifJP-Black.otf</string>
		<string>./fonts/Noto_Serif_JP/NotoSerifJP-ExtraLight.otf</string>
		<string>./fonts/cabin/Cabin-Medium.ttf</string>
		<string>./fonts/cabin/Cabin-SemiBoldItalic.ttf</string>
		<string>./fonts/cabin/Cabin-SemiBold.ttf</string>
		<string>./fonts/cabin/Cabin-MediumItalic.ttf</string>
		<string>./fonts/cabin/Cabin-BoldItalic.ttf</string>
		<string>./fonts/cabin/Cabin-Regular.ttf</string>
		<string>./fonts/cabin/Cabin-Bold.ttf</string>
		<string>./fonts/cabin/Cabin-Italic.ttf</string>
		<string>./fonts/inconsolata/Inconsolata-Bold.ttf</string>
		<string>./fonts/inconsolata/Inconsolata-Regular.ttf</string>
		<string>./fonts/dosis/Dosis-Medium.ttf</string>
		<string>./fonts/dosis/Dosis-Regular.ttf</string>
		<string>./fonts/dosis/Dosis-Light.ttf</string>
		<string>./fonts/dosis/Dosis-Bold.ttf</string>
		<string>./fonts/dosis/Dosis-ExtraBold.ttf</string>
		<string>./fonts/dosis/Dosis-SemiBold.ttf</string>
		<string>./fonts/dosis/Dosis-ExtraLight.ttf</string>
		<string>./fonts/titilliumweb/TitilliumWeb-Black.ttf</string>
		<string>./fonts/titilliumweb/TitilliumWeb-Bold.ttf</string>
		<string>./fonts/titilliumweb/TitilliumWeb-Regular.ttf</string>
		<string>./fonts/titilliumweb/TitilliumWeb-SemiBold.ttf</string>
		<string>./fonts/titilliumweb/TitilliumWeb-ExtraLight.ttf</string>
		<string>./fonts/titilliumweb/TitilliumWeb-BoldItalic.ttf</string>
		<string>./fonts/titilliumweb/TitilliumWeb-ExtraLightItalic.ttf</string>
		<string>./fonts/titilliumweb/TitilliumWeb-SemiBoldItalic.ttf</string>
		<string>./fonts/titilliumweb/TitilliumWeb-LightItalic.ttf</string>
		<string>./fonts/titilliumweb/TitilliumWeb-Italic.ttf</string>
		<string>./fonts/titilliumweb/TitilliumWeb-Light.ttf</string>
		<string>./fonts/merriweathersans/MerriweatherSans-ExtraBoldItalic.ttf</string>
		<string>./fonts/merriweathersans/MerriweatherSans-Bold.ttf</string>
		<string>./fonts/merriweathersans/MerriweatherSans-ExtraBold.ttf</string>
		<string>./fonts/merriweathersans/MerriweatherSans-Italic.ttf</string>
		<string>./fonts/merriweathersans/MerriweatherSans-BoldItalic.ttf</string>
		<string>./fonts/merriweathersans/MerriweatherSans-Regular.ttf</string>
		<string>./fonts/merriweathersans/MerriweatherSans-LightItalic.ttf</string>
		<string>./fonts/merriweathersans/MerriweatherSans-Light.ttf</string>
		<string>./fonts/ibmplexserif/IBMPlexSerif-ExtraLight.ttf</string>
		<string>./fonts/ibmplexserif/IBMPlexSerif-Regular.ttf</string>
		<string>./fonts/ibmplexserif/IBMPlexSerif-ExtraLightItalic.ttf</string>
		<string>./fonts/ibmplexserif/IBMPlexSerif-ThinItalic.ttf</string>
		<string>./fonts/ibmplexserif/IBMPlexSerif-BoldItalic.ttf</string>
		<string>./fonts/ibmplexserif/IBMPlexSerif-SemiBold.ttf</string>
		<string>./fonts/ibmplexserif/IBMPlexSerif-Italic.ttf</string>
		<string>./fonts/ibmplexserif/IBMPlexSerif-Medium.ttf</string>
		<string>./fonts/ibmplexserif/IBMPlexSerif-Light.ttf</string>
		<string>./fonts/ibmplexserif/IBMPlexSerif-Thin.ttf</string>
		<string>./fonts/ibmplexserif/IBMPlexSerif-SemiBoldItalic.ttf</string>
		<string>./fonts/ibmplexserif/IBMPlexSerif-MediumItalic.ttf</string>
		<string>./fonts/ibmplexserif/IBMPlexSerif-LightItalic.ttf</string>
		<string>./fonts/ibmplexserif/IBMPlexSerif-Bold.ttf</string>
		<string>./fonts/nunito/Nunito-ExtraBoldItalic.ttf</string>
		<string>./fonts/nunito/Nunito-ExtraBold.ttf</string>
		<string>./fonts/nunito/Nunito-ExtraLightItalic.ttf</string>
		<string>./fonts/nunito/Nunito-Light.ttf</string>
		<string>./fonts/nunito/Nunito-Regular.ttf</string>
		<string>./fonts/nunito/Nunito-SemiBold.ttf</string>
		<string>./fonts/nunito/Nunito-Bold.ttf</string>
		<string>./fonts/nunito/Nunito-BoldItalic.ttf</string>
		<string>./fonts/nunito/Nunito-Black.ttf</string>
		<string>./fonts/nunito/Nunito-ExtraLight.ttf</string>
		<string>./fonts/nunito/Nunito-SemiBoldItalic.ttf</string>
		<string>./fonts/nunito/Nunito-BlackItalic.ttf</string>
		<string>./fonts/nunito/Nunito-Italic.ttf</string>
		<string>./fonts/nunito/Nunito-LightItalic.ttf</string>
		<string>./fonts/ptsans/PT_Sans-Web-Italic.ttf</string>
		<string>./fonts/ptsans/PT_Sans-Web-Regular.ttf</string>
		<string>./fonts/ptsans/PT_Sans-Web-Bold.ttf</string>
		<string>./fonts/ptsans/PT_Sans-Web-BoldItalic.ttf</string>
		<string>./fonts/prompt/Prompt-ThinItalic.ttf</string>
		<string>./fonts/prompt/Prompt-BlackItalic.ttf</string>
		<string>./fonts/prompt/Prompt-ExtraLight.ttf</string>
		<string>./fonts/prompt/Prompt-MediumItalic.ttf</string>
		<string>./fonts/prompt/Prompt-BoldItalic.ttf</string>
		<string>./fonts/prompt/Prompt-Medium.ttf</string>
		<string>./fonts/prompt/Prompt-Light.ttf</string>
		<string>./fonts/prompt/Prompt-ExtraBold.ttf</string>
		<string>./fonts/prompt/Prompt-Thin.ttf</string>
		<string>./fonts/prompt/Prompt-LightItalic.ttf</string>
		<string>./fonts/prompt/Prompt-Bold.ttf</string>
		<string>./fonts/prompt/Prompt-SemiBold.ttf</string>
		<string>./fonts/prompt/Prompt-Regular.ttf</string>
		<string>./fonts/prompt/Prompt-ExtraLightItalic.ttf</string>
		<string>./fonts/prompt/Prompt-SemiBoldItalic.ttf</string>
		<string>./fonts/prompt/Prompt-ExtraBoldItalic.ttf</string>
		<string>./fonts/prompt/Prompt-Italic.ttf</string>
		<string>./fonts/prompt/Prompt-Black.ttf</string>
		<string>./fonts/ptserif/PT_Serif-Web-Regular.ttf</string>
		<string>./fonts/ptserif/PT_Serif-Web-BoldItalic.ttf</string>
		<string>./fonts/ptserif/PT_Serif-Web-Italic.ttf</string>
		<string>./fonts/ptserif/PT_Serif-Web-Bold.ttf</string>
		<string>./fonts/fira-mono/FiraMono-Regular.otf</string>
		<string>./fonts/fira-mono/FiraMono-Medium.otf</string>
		<string>./fonts/fira-mono/FiraMono-Bold.otf</string>
		<string>./fonts/jura/Jura-Light.ttf</string>
		<string>./fonts/jura/Jura-Regular.ttf</string>
		<string>./fonts/jura/Jura-SemiBold.ttf</string>
		<string>./fonts/jura/Jura-Bold.ttf</string>
		<string>./fonts/jura/Jura-Medium.ttf</string>
		<string>./fonts/ibmplexmono/IBMPlexMono-Thin.ttf</string>
		<string>./fonts/ibmplexmono/IBMPlexMono-Bold.ttf</string>
		<string>./fonts/ibmplexmono/IBMPlexMono-MediumItalic.ttf</string>
		<string>./fonts/ibmplexmono/IBMPlexMono-BoldItalic.ttf</string>
		<string>./fonts/ibmplexmono/IBMPlexMono-Medium.ttf</string>
		<string>./fonts/ibmplexmono/IBMPlexMono-ExtraLight.ttf</string>
		<string>./fonts/ibmplexmono/IBMPlexMono-ExtraLightItalic.ttf</string>
		<string>./fonts/ibmplexmono/IBMPlexMono-ThinItalic.ttf</string>
		<string>./fonts/ibmplexmono/IBMPlexMono-Regular.ttf</string>
		<string>./fonts/ibmplexmono/IBMPlexMono-Light.ttf</string>
		<string>./fonts/ibmplexmono/IBMPlexMono-Italic.ttf</string>
		<string>./fonts/ibmplexmono/IBMPlexMono-SemiBold.ttf</string>
		<string>./fonts/ibmplexmono/IBMPlexMono-SemiBoldItalic.ttf</string>
		<string>./fonts/ibmplexmono/IBMPlexMono-LightItalic.ttf</string>
		<string>./fonts/zillaslab/ZillaSlab-MediumItalic.ttf</string>
		<string>./fonts/zillaslab/ZillaSlab-LightItalic.ttf</string>
		<string>./fonts/zillaslab/ZillaSlab-Bold.ttf</string>
		<string>./fonts/zillaslab/ZillaSlab-Italic.ttf</string>
		<string>./fonts/zillaslab/ZillaSlab-BoldItalic.ttf</string>
		<string>./fonts/zillaslab/ZillaSlab-Medium.ttf</string>
		<string>./fonts/zillaslab/ZillaSlab-Light.ttf</string>
		<string>./fonts/zillaslab/ZillaSlab-SemiBoldItalic.ttf</string>
		<string>./fonts/zillaslab/ZillaSlab-SemiBold.ttf</string>
		<string>./fonts/zillaslab/ZillaSlab-Regular.ttf</string>
		<string>./fonts/robotomono/RobotoMono-Medium.ttf</string>
		<string>./fonts/robotomono/RobotoMono-Regular.ttf</string>
		<string>./fonts/robotomono/RobotoMono-LightItalic.ttf</string>
		<string>./fonts/robotomono/RobotoMono-BoldItalic.ttf</string>
		<string>./fonts/robotomono/RobotoMono-ThinItalic.ttf</string>
		<string>./fonts/robotomono/RobotoMono-Light.ttf</string>
		<string>./fonts/robotomono/RobotoMono-MediumItalic.ttf</string>
		<string>./fonts/robotomono/RobotoMono-Bold.ttf</string>
		<string>./fonts/robotomono/RobotoMono-Italic.ttf</string>
		<string>./fonts/robotomono/RobotoMono-Thin.ttf</string>
		<string>./fonts/montserrat/Montserrat-LightItalic.ttf</string>
		<string>./fonts/montserrat/Montserrat-Medium.ttf</string>
		<string>./fonts/montserrat/Montserrat-BoldItalic.ttf</string>
		<string>./fonts/montserrat/Montserrat-Light.ttf</string>
		<string>./fonts/montserrat/Montserrat-ThinItalic.ttf</string>
		<string>./fonts/montserrat/Montserrat-ExtraLight.ttf</string>
		<string>./fonts/montserrat/Montserrat-Thin.ttf</string>
		<string>./fonts/montserrat/Montserrat-Bold.ttf</string>
		<string>./fonts/montserrat/Montserrat-MediumItalic.ttf</string>
		<string>./fonts/montserrat/Montserrat-BlackItalic.ttf</string>
		<string>./fonts/montserrat/Montserrat-SemiBold.ttf</string>
		<string>./fonts/montserrat/Montserrat-ExtraLightItalic.ttf</string>
		<string>./fonts/montserrat/Montserrat-ExtraBold.ttf</string>
		<string>./fonts/montserrat/Montserrat-Black.ttf</string>
		<string>./fonts/montserrat/Montserrat-Regular.ttf</string>
		<string>./fonts/montserrat/Montserrat-Italic.ttf</string>
		<string>./fonts/montserrat/Montserrat-SemiBoldItalic.ttf</string>
		<string>./fonts/montserrat/Montserrat-ExtraBoldItalic.ttf</string>
		<string>./fonts/ebgaramond/EBGaramond-Regular.ttf</string>
		<string>./fonts/ebgaramond/EBGaramond-Bold.ttf</string>
		<string>./fonts/ebgaramond/EBGaramond-Italic.ttf</string>
		<string>./fonts/ebgaramond/EBGaramond-BoldItalic.ttf</string>
		<string>./fonts/ebgaramond/EBGaramond-SemiBoldItalic.ttf</string>
		<string>./fonts/ebgaramond/EBGaramond-SemiBold.ttf</string>
		<string>./fonts/ebgaramond/EBGaramond-MediumItalic.ttf</string>
		<string>./fonts/ebgaramond/EBGaramond-ExtraBoldItalic.ttf</string>
		<string>./fonts/ebgaramond/EBGaramond-ExtraBold.ttf</string>
		<string>./fonts/ebgaramond/EBGaramond-Medium.ttf</string>
		<string>./fonts/notosans/NotoSans-Regular.ttf</string>
		<string>./fonts/notosans/NotoSans-Bold.ttf</string>
		<string>./fonts/notosans/NotoSans-BoldItalic.ttf</string>
		<string>./fonts/notosans/NotoSans-Italic.ttf</string>
		<string>./fonts/kanit/Kanit-ExtraLight.ttf</string>
		<string>./fonts/kanit/Kanit-ThinItalic.ttf</string>
		<string>./fonts/kanit/Kanit-BoldItalic.ttf</string>
		<string>./fonts/kanit/Kanit-SemiBold.ttf</string>
		<string>./fonts/kanit/Kanit-Black.ttf</string>
		<string>./fonts/kanit/Kanit-Regular.ttf</string>
		<string>./fonts/kanit/Kanit-Italic.ttf</string>
		<string>./fonts/kanit/Kanit-MediumItalic.ttf</string>
		<string>./fonts/kanit/Kanit-Thin.ttf</string>
		<string>./fonts/kanit/Kanit-ExtraBoldItalic.ttf</string>
		<string>./fonts/kanit/Kanit-ExtraBold.ttf</string>
		<string>./fonts/kanit/Kanit-Bold.ttf</string>
		<string>./fonts/kanit/Kanit-SemiBoldItalic.ttf</string>
		<string>./fonts/kanit/Kanit-BlackItalic.ttf</string>
		<string>./fonts/kanit/Kanit-Light.ttf</string>
		<string>./fonts/kanit/Kanit-LightItalic.ttf</string>
		<string>./fonts/kanit/Kanit-ExtraLightItalic.ttf</string>
		<string>./fonts/kanit/Kanit-Medium.ttf</string>
		<string>./fonts/roboto/Roboto-Medium.ttf</string>
		<string>./fonts/roboto/Roboto-Light.ttf</string>
		<string>./fonts/roboto/Roboto-Regular.ttf</string>
		<string>./fonts/roboto/Roboto-MediumItalic.ttf</string>
		<string>./fonts/roboto/Roboto-ThinItalic.ttf</string>
		<string>./fonts/roboto/Roboto-BoldItalic.ttf</string>
		<string>./fonts/roboto/Roboto-LightItalic.ttf</string>
		<string>./fonts/roboto/Roboto-Italic.ttf</string>
		<string>./fonts/roboto/Roboto-BlackItalic.ttf</string>
		<string>./fonts/roboto/Roboto-Bold.ttf</string>
		<string>./fonts/roboto/Roboto-Thin.ttf</string>
		<string>./fonts/roboto/Roboto-Black.ttf</string>
		<string>./fonts/lora/Lora-Italic.ttf</string>
		<string>./fonts/lora/Lora-Bold.ttf</string>
		<string>./fonts/lora/Lora-BoldItalic.ttf</string>
		<string>./fonts/lora/Lora-Regular.ttf</string>
		<string>./fonts/spacemono/SpaceMono-Regular.ttf</string>
		<string>./fonts/spacemono/SpaceMono-BoldItalic.ttf</string>
		<string>./fonts/spacemono/SpaceMono-Italic.ttf</string>
		<string>./fonts/spacemono/SpaceMono-Bold.ttf</string>
		<string>./fonts/cormorant/Cormorant-Medium.ttf</string>
		<string>./fonts/cormorant/Cormorant-Regular.ttf</string>
		<string>./fonts/cormorant/Cormorant-SemiBoldItalic.ttf</string>
		<string>./fonts/cormorant/Cormorant-BoldItalic.ttf</string>
		<string>./fonts/cormorant/Cormorant-LightItalic.ttf</string>
		<string>./fonts/cormorant/Cormorant-SemiBold.ttf</string>
		<string>./fonts/cormorant/Cormorant-Light.ttf</string>
		<string>./fonts/cormorant/Cormorant-Bold.ttf</string>
		<string>./fonts/cormorant/Cormorant-Italic.ttf</string>
		<string>./fonts/cormorant/Cormorant-MediumItalic.ttf</string>
		<string>./fonts/notoserif/NotoSerif-BoldItalic.ttf</string>
		<string>./fonts/notoserif/NotoSerif-Regular.ttf</string>
		<string>./fonts/notoserif/NotoSerif-Italic.ttf</string>
		<string>./fonts/notoserif/NotoSerif-Bold.ttf</string>
		<string>./fonts/ptsanscaption/PT_Sans-Caption-Web-Regular.ttf</string>
		<string>./fonts/ptsanscaption/PT_Sans-Caption-Web-Bold.ttf</string>
		<string>./fonts/overpassmono/OverpassMono-SemiBold.ttf</string>
		<string>./fonts/overpassmono/OverpassMono-Bold.ttf</string>
		<string>./fonts/overpassmono/OverpassMono-Regular.ttf</string>
		<string>./fonts/overpassmono/OverpassMono-Light.ttf</string>
		<string>./fonts/librefranklin/LibreFranklin-Light.ttf</string>
		<string>./fonts/librefranklin/LibreFranklin-Regular.ttf</string>
		<string>./fonts/librefranklin/LibreFranklin-ExtraBoldItalic.ttf</string>
		<string>./fonts/librefranklin/LibreFranklin-ExtraBold.ttf</string>
		<string>./fonts/librefranklin/LibreFranklin-Bold.ttf</string>
		<string>./fonts/librefranklin/LibreFranklin-SemiBold.ttf</string>
		<string>./fonts/librefranklin/LibreFranklin-ExtraLight.ttf</string>
		<string>./fonts/librefranklin/LibreFranklin-Italic.ttf</string>
		<string>./fonts/librefranklin/LibreFranklin-ThinItalic.ttf</string>
		<string>./fonts/librefranklin/LibreFranklin-BoldItalic.ttf</string>
		<string>./fonts/librefranklin/LibreFranklin-ExtraLightItalic.ttf</string>
		<string>./fonts/librefranklin/LibreFranklin-Thin.ttf</string>
		<string>./fonts/librefranklin/LibreFranklin-LightItalic.ttf</string>
		<string>./fonts/librefranklin/LibreFranklin-Medium.ttf</string>
		<string>./fonts/librefranklin/LibreFranklin-BlackItalic.ttf</string>
		<string>./fonts/librefranklin/LibreFranklin-SemiBoldItalic.ttf</string>
		<string>./fonts/librefranklin/LibreFranklin-MediumItalic.ttf</string>
		<string>./fonts/librefranklin/LibreFranklin-Black.ttf</string>
		<string>./fonts/muli/Muli-ExtraLight.ttf</string>
		<string>./fonts/muli/Muli-ExtraLightItalic.ttf</string>
		<string>./fonts/muli/Muli-BoldItalic.ttf</string>
		<string>./fonts/muli/Muli-Black.ttf</string>
		<string>./fonts/muli/Muli-ExtraBold.ttf</string>
		<string>./fonts/muli/Muli-Bold.ttf</string>
		<string>./fonts/muli/Muli-ExtraBoldItalic.ttf</string>
		<string>./fonts/muli/Muli-Italic.ttf</string>
		<string>./fonts/muli/Muli-SemiBold.ttf</string>
		<string>./fonts/muli/Muli-SemiBoldItalic.ttf</string>
		<string>./fonts/muli/Muli-BlackItalic.ttf</string>
		<string>./fonts/muli/Muli-Light.ttf</string>
		<string>./fonts/muli/Muli-Regular.ttf</string>
		<string>./fonts/muli/Muli-LightItalic.ttf</string>
		<string>./fonts/josefinsans/JosefinSans-Italic.ttf</string>
		<string>./fonts/josefinsans/JosefinSans-Thin.ttf</string>
		<string>./fonts/josefinsans/JosefinSans-Bold.ttf</string>
		<string>./fonts/josefinsans/JosefinSans-Light.ttf</string>
		<string>./fonts/josefinsans/JosefinSans-LightItalic.ttf</string>
		<string>./fonts/josefinsans/JosefinSans-SemiBold.ttf</string>
		<string>./fonts/josefinsans/JosefinSans-Regular.ttf</string>
		<string>./fonts/josefinsans/JosefinSans-BoldItalic.ttf</string>
		<string>./fonts/josefinsans/JosefinSans-ThinItalic.ttf</string>
		<string>./fonts/josefinsans/JosefinSans-SemiBoldItalic.ttf</string>
		<string>./fonts/ptserifcaption/PT_Serif-Caption-Web-Italic.ttf</string>
		<string>./fonts/ptserifcaption/PT_Serif-Caption-Web-Regular.ttf</string>
		<string>./fonts/raleway/Raleway-BoldItalic.ttf</string>
		<string>./fonts/raleway/Raleway-MediumItalic.ttf</string>
		<string>./fonts/raleway/Raleway-ThinItalic.ttf</string>
		<string>./fonts/raleway/Raleway-ExtraLight.ttf</string>
		<string>./fonts/raleway/Raleway-Medium.ttf</string>
		<string>./fonts/raleway/Raleway-SemiBold.ttf</string>
		<string>./fonts/raleway/Raleway-ExtraBold.ttf</string>
		<string>./fonts/raleway/Raleway-ExtraBoldItalic.ttf</string>
		<string>./fonts/raleway/Raleway-Regular.ttf</string>
		<string>./fonts/raleway/Raleway-ExtraLightItalic.ttf</string>
		<string>./fonts/raleway/Raleway-SemiBoldItalic.ttf</string>
		<string>./fonts/raleway/Raleway-Light.ttf</string>
		<string>./fonts/raleway/Raleway-Black.ttf</string>
		<string>./fonts/raleway/Raleway-BlackItalic.ttf</string>
		<string>./fonts/raleway/Raleway-LightItalic.ttf</string>
		<string>./fonts/raleway/Raleway-Thin.ttf</string>
		<string>./fonts/raleway/Raleway-Italic.ttf</string>
		<string>./fonts/raleway/Raleway-Bold.ttf</string>
		<string>./fonts/arvo/Arvo-Regular.ttf</string>
		<string>./fonts/arvo/Arvo-Bold.ttf</string>
		<string>./fonts/arvo/Arvo-BoldItalic.ttf</string>
		<string>./fonts/arvo/Arvo-Italic.ttf</string>
		<string>./fonts/ptsansnarrow/PT_Sans-Narrow-Web-Regular.ttf</string>
		<string>./fonts/ptsansnarrow/PT_Sans-Narrow-Web-Bold.ttf</string>
		<string>./fonts/opensans/OpenSans-SemiBold.ttf</string>
		<string>./fonts/opensans/OpenSans-Light.ttf</string>
		<string>./fonts/opensans/OpenSans-Italic.ttf</string>
		<string>./fonts/opensans/OpenSans-ExtraBold.ttf</string>
		<string>./fonts/opensans/OpenSans-LightItalic.ttf</string>
		<string>./fonts/opensans/OpenSans-Bold.ttf</string>
		<string>./fonts/opensans/OpenSans-SemiBoldItalic.ttf</string>
		<string>./fonts/opensans/OpenSans-ExtraBoldItalic.ttf</string>
		<string>./fonts/opensans/OpenSans-Regular.ttf</string>
		<string>./fonts/opensans/OpenSans-BoldItalic.ttf</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Stylo Document</string>
			<key>UTTypeIconFile</key>
			<string>nodio.icns</string>
			<key>UTTypeIdentifier</key>
			<string>net.textually.stylo.document</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>stylo</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
