
:root {
    
    --body-b1: rgb(30, 40,43);
    --body-b2: #192224;
    
    --caret-sts3: var(--amaranth-sts6, orange);
    --caret-sts4: var(--amaranth-sts7, red);
    
    --black-olive-sts1: #313534;
    --black-olive-sts2: #454a4a;
    --black-olive-sts3: #54534f;
    --black-olive-sts4: #64635e;
    --black-olive-sts5: #6c6b66;
    --black-olive-sts6: #73726d;
    --black-olive-sts7: #7b7a75;
    --black-olive-sts8: #83817c;
    --black-olive-sts9: #8b8984;
    --black-olive-sts10: #92908b;

    --xanadu-sts1: #474e4c;
    --xanadu-sts2: #5e6865;
    --xanadu-sts3: #76827e;
    --xanadu-sts4: #899491;
    --xanadu-sts5: #949e9b;
    --xanadu-sts6: #9fa8a5;
    --xanadu-sts7: #a9b1af;
    --xanadu-sts8: #b4bbb9;
    --xanadu-sts9: #bfc5c3;
    --xanadu-sts10: #c9cfcd;

    --silver-sts1: #54534f;
    --silver-sts2: #888781;
    --silver-sts3: #b0afab;
    --silver-sts4: #bab9b5;
    --silver-sts5: #cdcdcb;
    --silver-sts6: #e1e1df;
    --silver-sts7: #e7e7e5;
    --silver-sts8: #ededec;
    --silver-sts9: #f3f3f2;
    --silver-sts10: #f9f9f9;

    --dark-slate-gray-sts1: #293632;
    --dark-slate-gray-sts2: #354540;
    --dark-slate-gray-sts3: #3b4c47;
    --dark-slate-gray-sts4: #475c56;
    --dark-slate-gray-sts5: #5e7971;
    --dark-slate-gray-sts6: #75958b;
    --dark-slate-gray-sts7: #809d94;
    --dark-slate-gray-sts8: #8ca69e;
    --dark-slate-gray-sts9: #97afa8;
    --dark-slate-gray-sts10: #a3b8b2;
    
    --amaranth-sts1: #502a35;
    --amaranth-sts2: #881b39;
    --amaranth-sts3: #c00c3c;
    --amaranth-sts4: #d30d42;
    --amaranth-sts5: #e60f48;
    --amaranth-sts6: #f21b56;
    --amaranth-sts7: #f43e6f;
    --amaranth-sts8: #f5517d;
    --amaranth-sts9: #f6658c;
    --amaranth-sts10: #f7789a;


    --telemagenta-sts1: #442636;
    --telemagenta-sts2: #853255;
    --telemagenta-sts3: #c43169;
    --telemagenta-sts4: #ce3b73;
    --telemagenta-sts5: #d24b7f;
    --telemagenta-sts6: #d65c8b;
    --telemagenta-sts7: #da6c96;
    --telemagenta-sts8: #de7ca2;
    --telemagenta-sts9: #e28dae;
    --telemagenta-sts10: #e79db9;

    --platinum-sts1: #cfccc9;
    --platinum-sts2: #d8d6d4;
    --platinum-sts3: #ecebea;
    --platinum-sts4: #eeedec;
    --platinum-sts5: #f0efee;
    --platinum-sts6: #f2f1f0;
    --platinum-sts7: #f4f3f2;
    --platinum-sts8: #f6f5f5;
    --platinum-sts9: #f7f7f7;
    --platinum-sts10: #f9f9f9;

    --gainsboro-sts1: #a8a29f;
    --gainsboro-sts2: #c5c1bf;
    --gainsboro-sts3: #e2e0df;
    --gainsboro-sts4: #e5e3e2;
    --gainsboro-sts5: #e8e6e5;
    --gainsboro-sts6: #ebe9e9;
    --gainsboro-sts7: #eeecec;
    --gainsboro-sts8: #f1f0ef;
    --gainsboro-sts9: #f3f3f2;
    --gainsboro-sts10: #f6f6f5;
    
    --quick-silver-sts1: #515350;
    --quick-silver-sts2: #7d7d78;
    --quick-silver-sts3: #a6a5a0;
    --quick-silver-sts4: #b0afab;
    --quick-silver-sts5: #bab9b5;
    --quick-silver-sts6: #c4c3c0;
    --quick-silver-sts7: #cecdca;
    --quick-silver-sts8: #d7d7d5;
    --quick-silver-sts9: #e1e1df;
    --quick-silver-sts10: #ebebea;
        
    --dark-jungle-green-sts1: #121814;
    --dark-jungle-green-sts2: #18201a;
    --dark-jungle-green-sts3: #1e2821;
    --dark-jungle-green-sts4: #2c3a30;
    --dark-jungle-green-sts5: #35463a;
    --dark-jungle-green-sts6: #3d5143;
    --dark-jungle-green-sts7: #465d4d;
    --dark-jungle-green-sts8: #4f6957;
    --dark-jungle-green-sts9: #587460;
    --dark-jungle-green-sts10: #608069;
    
    --text-sts1: var(--quick-silver-sts1, yellow);
    --text-sts2: var(--quick-silver-sts2, yellow);
    --text-sts3: var(--quick-silver-sts3, yellow);
    --text-sts4: var(--quick-silver-sts4, yellow);
    --text-sts5: var(--quick-silver-sts5, yellow);
    --text-sts6: var(--silver-sts5, yellow);
    --text-sts7: var(--silver-sts6, yellow);
    --text-sts8: var(--silver-sts7, yellow);
    --text-sts9: var(--silver-sts8, yellow);
    --text-sts10: var(--silver-sts9, yellow);
    
    --s-sts1: var(--quick-silver-sts1, yellow);
    --s-sts2: var(--quick-silver-sts2, yellow);
    --s-sts3: var(--quick-silver-sts3, yellow);
    --s-sts4: var(--quick-silver-sts4, yellow);
    --s-sts5: var(--quick-silver-sts5, yellow);
    --s-sts6: var(--quick-silver-sts6, yellow);
    --s-sts7: var(--quick-silver-sts7, yellow);
    --s-sts8: var(--quick-silver-sts8, yellow);
    --s-sts9: var(--quick-silver-sts9, yellow);
    --s-sts10: var(--quick-silver-sts10, yellow);

    --h-s-sts1: var(--quick-silver-sts1, yellow);
    --h-s-sts2: var(--quick-silver-sts2, yellow);
    --h-s-sts3: var(--quick-silver-sts3, yellow);
    --h-s-sts4: var(--quick-silver-sts4, yellow);
    --h-s-sts5: var(--quick-silver-sts5, yellow);
    --h-s-sts6: var(--quick-silver-sts6, yellow);
    --h-s-sts7: var(--quick-silver-sts7, yellow);
    --h-s-sts8: var(--quick-silver-sts8, yellow);
    --h-s-sts9: var(--quick-silver-sts9, yellow);
    --h-s-sts10: var(--quick-silver-sts10, yellow);

    --h-s-tag-sts1: var(--xanadu-sts1, yellow);
    --h-s-tag-sts2: var(--xanadu-sts2, yellow);
    --h-s-tag-sts3: var(--xanadu-sts3, yellow);
    --h-s-tag-sts4: var(--xanadu-sts4, yellow);
    --h-s-tag-sts5: var(--xanadu-sts5, yellow);
    --h-s-tag-sts6: var(--xanadu-sts6, yellow);
    --h-s-tag-sts7: var(--xanadu-sts7, yellow);
    --h-s-tag-sts8: var(--xanadu-sts8, yellow);
    --h-s-tag-sts9: var(--xanadu-sts9, yellow);
    --h-s-tag-sts10: var(--xanadu-sts10, yellow);
    
    --h-s-strikethrough-sts1: var(--telemagenta-sts1, yellow);
    --h-s-strikethrough-sts2: var(--telemagenta-sts2, yellow);
    --h-s-strikethrough-sts3: var(--telemagenta-sts3, yellow);
    --h-s-strikethrough-sts4: var(--telemagenta-sts4, yellow);
    --h-s-strikethrough-sts5: var(--telemagenta-sts5, yellow);
    --h-s-strikethrough-sts6: var(--telemagenta-sts6, yellow);
    --h-s-strikethrough-sts7: var(--telemagenta-sts7, yellow);
    --h-s-strikethrough-sts8: var(--telemagenta-sts8, yellow);
    --h-s-strikethrough-sts9: var(--telemagenta-sts9, yellow);
    --h-s-strikethrough-sts10: var(--telemagenta-sts10, yellow);
    
    
    --s-strikethrough-sts1: var(--telemagenta-sts1, yellow);
    --s-strikethrough-sts2: var(--telemagenta-sts2, yellow);
    --s-strikethrough-sts3: var(--telemagenta-sts3, yellow);
    --s-strikethrough-sts4: var(--telemagenta-sts4, yellow);
    --s-strikethrough-sts5: var(--telemagenta-sts5, yellow);
    --s-strikethrough-sts6: var(--telemagenta-sts6, yellow);
    --s-strikethrough-sts7: var(--telemagenta-sts7, yellow);
    --s-strikethrough-sts8: var(--telemagenta-sts8, yellow);
    --s-strikethrough-sts9: var(--telemagenta-sts9, yellow);
    --s-strikethrough-sts10: var(--telemagenta-sts10, yellow);
    
    --s-tag-sts1: var(--xanadu-sts1, yellow);
    --s-tag-sts2: var(--xanadu-sts2, yellow);
    --s-tag-sts3: var(--xanadu-sts3, yellow);
    --s-tag-sts4: var(--xanadu-sts4, yellow);
    --s-tag-sts5: var(--xanadu-sts5, yellow);
    --s-tag-sts6: var(--xanadu-sts6, yellow);
    --s-tag-sts7: var(--xanadu-sts7, yellow);
    --s-tag-sts8: var(--xanadu-sts8, yellow);
    --s-tag-sts9: var(--xanadu-sts9, yellow);
    --s-tag-sts10: var(--xanadu-sts10, yellow);

    --strong-em-sts1: var(--silver-sts1, yellow);
    --strong-em-sts2: var(--silver-sts2, yellow);
    --strong-em-sts3: var(--silver-sts3, yellow);
    --strong-em-sts4: var(--silver-sts4, yellow);
    --strong-em-sts5: var(--silver-sts5, yellow);
    --strong-em-sts6: var(--silver-sts6, yellow);
    --strong-em-sts7: var(--silver-sts7, yellow);
    --strong-em-sts8: var(--silver-sts8, yellow);
    --strong-em-sts9: var(--silver-sts9, yellow);
    --strong-em-sts10: var(--silver-sts10, yellow);
    
    --strong-em-tag-sts1: var(--xanadu-sts1, yellow);
    --strong-em-tag-sts2: var(--xanadu-sts2, yellow);
    --strong-em-tag-sts3: var(--xanadu-sts3, yellow);
    --strong-em-tag-sts4: var(--xanadu-sts4, yellow);
    --strong-em-tag-sts5: var(--xanadu-sts5, yellow);
    --strong-em-tag-sts6: var(--xanadu-sts6, yellow);
    --strong-em-tag-sts7: var(--xanadu-sts7, yellow);
    --strong-em-tag-sts8: var(--xanadu-sts8, yellow);
    --strong-em-tag-sts9: var(--xanadu-sts9, yellow);
    --strong-em-tag-sts10: var(--xanadu-sts10, yellow);
    
    --h-strong-em-sts1: var(--silver-sts1, yellow);
    --h-strong-em-sts2: var(--silver-sts2, yellow);
    --h-strong-em-sts3: var(--silver-sts3, yellow);
    --h-strong-em-sts4: var(--amaranth-sts4, yellow);
    --h-strong-em-sts5: var(--amaranth-sts5, yellow);
    --h-strong-em-sts6: var(--amaranth-sts6, yellow);
    --h-strong-em-sts7: var(--amaranth-sts7, yellow);
    --h-strong-em-sts8: var(--amaranth-sts8, yellow);
    --h-strong-em-sts9: var(--amaranth-sts9, yellow);
    --h-strong-em-sts10: var(--amaranth-sts10, yellow);

    --h-strong-em-tag-sts1: var(--xanadu-sts1, yellow);
    --h-strong-em-tag-sts2: var(--xanadu-sts2, yellow);
    --h-strong-em-tag-sts3: var(--xanadu-sts3, yellow);
    --h-strong-em-tag-sts4: var(--xanadu-sts4, yellow);
    --h-strong-em-tag-sts5: var(--xanadu-sts5, yellow);
    --h-strong-em-tag-sts6: var(--xanadu-sts6, yellow);
    --h-strong-em-tag-sts7: var(--xanadu-sts7, yellow);
    --h-strong-em-tag-sts8: var(--xanadu-sts8, yellow);
    --h-strong-em-tag-sts9: var(--xanadu-sts9, yellow);
    --h-strong-em-tag-sts10: var(--xanadu-sts10, yellow);
    
    --a-img-ref-sts1: var(--silver-sts1, yellow);
    --a-img-ref-sts2: var(--silver-sts2, yellow);
    --a-img-ref-sts3: var(--silver-sts3, yellow);
    --a-img-ref-sts4: var(--silver-sts4, yellow);
    --a-img-ref-sts5: var(--silver-sts5, yellow);
    --a-img-ref-sts6: var(--silver-sts6, yellow);
    --a-img-ref-sts7: var(--silver-sts7, yellow);
    --a-img-ref-sts8: var(--silver-sts8, yellow);
    --a-img-ref-sts9: var(--silver-sts9, yellow);
    --a-img-ref-sts10: var(--silver-sts10, yellow);

    --h-a-img-sts1: var(--silver-sts1, yellow);
    --h-a-img-sts2: var(--silver-sts2, yellow);
    --h-a-img-sts3: var(--silver-sts3, yellow);
    --h-a-img-sts4: var(--silver-sts4, yellow);
    --h-a-img-sts5: var(--silver-sts5, yellow);
    --h-a-img-sts6: var(--silver-sts6, yellow);
    --h-a-img-sts7: var(--silver-sts7, yellow);
    --h-a-img-sts8: var(--silver-sts8, yellow);
    --h-a-img-sts9: var(--silver-sts9, yellow);
    --h-a-img-sts10: var(--silver-sts10, yellow);

    --h-a-img-tag-sts1: var(--xanadu-sts1, yellow);
    --h-a-img-tag-sts2: var(--xanadu-sts2, yellow);
    --h-a-img-tag-sts3: var(--xanadu-sts3, yellow);
    --h-a-img-tag-sts4: var(--xanadu-sts4, yellow);
    --h-a-img-tag-sts5: var(--xanadu-sts5, yellow);
    --h-a-img-tag-sts6: var(--xanadu-sts6, yellow);
    --h-a-img-tag-sts7: var(--xanadu-sts7, yellow);
    --h-a-img-tag-sts8: var(--xanadu-sts8, yellow);
    --h-a-img-tag-sts9: var(--xanadu-sts9, yellow);
    --h-a-img-tag-sts10: var(--xanadu-sts10, yellow);
    
    --h-a-img-title-sts1: var(--telemagenta-sts1, yellow);
    --h-a-img-title-sts2: var(--telemagenta-sts2, yellow);
    --h-a-img-title-sts3: var(--telemagenta-sts3, yellow);
    --h-a-img-title-sts4: var(--telemagenta-sts4, yellow);
    --h-a-img-title-sts5: var(--telemagenta-sts5, yellow);
    --h-a-img-title-sts6: var(--telemagenta-sts6, yellow);
    --h-a-img-title-sts7: var(--telemagenta-sts7, yellow);
    --h-a-img-title-sts8: var(--telemagenta-sts8, yellow);
    --h-a-img-title-sts9: var(--telemagenta-sts9, yellow);
    --h-a-img-title-sts10: var(--telemagenta-sts10, yellow);
    
    --a-img-ref-title-sts1: var(--telemagenta-sts1, yellow);
    --a-img-ref-title-sts2: var(--telemagenta-sts2, yellow);
    --a-img-ref-title-sts3: var(--telemagenta-sts3, yellow);
    --a-img-ref-title-sts4: var(--telemagenta-sts4, yellow);
    --a-img-ref-title-sts5: var(--telemagenta-sts5, yellow);
    --a-img-ref-title-sts6: var(--telemagenta-sts6, yellow);
    --a-img-ref-title-sts7: var(--telemagenta-sts7, yellow);
    --a-img-ref-title-sts8: var(--telemagenta-sts8, yellow);
    --a-img-ref-title-sts9: var(--telemagenta-sts9, yellow);
    --a-img-ref-title-sts10: var(--telemagenta-sts10, yellow);
    
    --h-a-img-lbl-sts1: var(--silver-sts1, yellow);
    --h-a-img-lbl-sts2: var(--silver-sts2, yellow);
    --h-a-img-lbl-sts3: var(--silver-sts3, yellow);
    --h-a-img-lbl-sts4: var(--silver-sts4, yellow);
    --h-a-img-lbl-sts5: var(--silver-sts5, yellow);
    --h-a-img-lbl-sts6: var(--silver-sts6, yellow);
    --h-a-img-lbl-sts7: var(--silver-sts7, yellow);
    --h-a-img-lbl-sts8: var(--silver-sts8, yellow);
    --h-a-img-lbl-sts9: var(--silver-sts9, yellow);
    --h-a-img-lbl-sts10: var(--silver-sts10, yellow);
    
    --h-a-img-dest-sts1: var(--xanadu-sts1, yellow);
    --h-a-img-dest-sts2: var(--xanadu-sts2, yellow);
    --h-a-img-dest-sts3: var(--xanadu-sts3, yellow);
    --h-a-img-dest-sts4: var(--xanadu-sts4, yellow);
    --h-a-img-dest-sts5: var(--xanadu-sts5, yellow);
    --h-a-img-dest-sts6: var(--xanadu-sts6, yellow);
    --h-a-img-dest-sts7: var(--xanadu-sts7, yellow);
    --h-a-img-dest-sts8: var(--xanadu-sts8, yellow);
    --h-a-img-dest-sts9: var(--xanadu-sts9, yellow);
    --h-a-img-dest-sts10: var(--xanadu-sts10, yellow);
    
    --h-a-img-text-sts1: var(--silver-sts1, yellow);
    --h-a-img-text-sts2: var(--silver-sts2, yellow);
    --h-a-img-text-sts3: var(--silver-sts3, yellow);
    --h-a-img-text-sts4: var(--silver-sts4, yellow);
    --h-a-img-text-sts5: var(--silver-sts5, yellow);
    --h-a-img-text-sts6: var(--silver-sts6, yellow);
    --h-a-img-text-sts7: var(--silver-sts7, yellow);
    --h-a-img-text-sts8: var(--silver-sts8, yellow);
    --h-a-img-text-sts9: var(--silver-sts9, yellow);
    --h-a-img-text-sts10: var(--silver-sts10, yellow);
    
    --a-img-ref-tag-sts1: var(--xanadu-sts1, yellow);
    --a-img-ref-tag-sts2: var(--xanadu-sts2, yellow);
    --a-img-ref-tag-sts3: var(--xanadu-sts3, yellow);
    --a-img-ref-tag-sts4: var(--xanadu-sts4, yellow);
    --a-img-ref-tag-sts5: var(--xanadu-sts5, yellow);
    --a-img-ref-tag-sts6: var(--xanadu-sts6, yellow);
    --a-img-ref-tag-sts7: var(--xanadu-sts7, yellow);
    --a-img-ref-tag-sts8: var(--xanadu-sts8, yellow);
    --a-img-ref-tag-sts9: var(--xanadu-sts9, yellow);
    --a-img-ref-tag-sts10: var(--xanadu-sts10, yellow);

    --a-img-ref-text-sts1: var(--silver-sts1, yellow);
    --a-img-ref-text-sts2: var(--silver-sts2, yellow);
    --a-img-ref-text-sts3: var(--silver-sts3, yellow);
    --a-img-ref-text-sts4: var(--silver-sts4, yellow);
    --a-img-ref-text-sts5: var(--silver-sts5, yellow);
    --a-img-ref-text-sts6: var(--silver-sts6, yellow);
    --a-img-ref-text-sts7: var(--silver-sts7, yellow);
    --a-img-ref-text-sts8: var(--silver-sts8, yellow);
    --a-img-ref-text-sts9: var(--silver-sts9, yellow);
    --a-img-ref-text-sts10: var(--silver-sts10, yellow);

    --a-img-ref-dest-sts1: var(--xanadu-sts1, yellow);
    --a-img-ref-dest-sts2: var(--xanadu-sts2, yellow);
    --a-img-ref-dest-sts3: var(--xanadu-sts3, yellow);
    --a-img-ref-dest-sts4: var(--xanadu-sts4, yellow);
    --a-img-ref-dest-sts5: var(--xanadu-sts5, yellow);
    --a-img-ref-dest-sts6: var(--xanadu-sts6, yellow);
    --a-img-ref-dest-sts7: var(--xanadu-sts7, yellow);
    --a-img-ref-dest-sts8: var(--xanadu-sts8, yellow);
    --a-img-ref-dest-sts9: var(--xanadu-sts9, yellow);
    --a-img-ref-dest-sts10: var(--xanadu-sts10, yellow);

    --a-img-ref-lbl-sts1: var(--silver-sts1, yellow);
    --a-img-ref-lbl-sts2: var(--silver-sts2, yellow);
    --a-img-ref-lbl-sts3: var(--silver-sts3, yellow);
    --a-img-ref-lbl-sts4: var(--silver-sts4, yellow);
    --a-img-ref-lbl-sts5: var(--silver-sts5, yellow);
    --a-img-ref-lbl-sts6: var(--silver-sts6, yellow);
    --a-img-ref-lbl-sts7: var(--silver-sts7, yellow);
    --a-img-ref-lbl-sts8: var(--silver-sts8, yellow);
    --a-img-ref-lbl-sts9: var(--silver-sts9, yellow);
    --a-img-ref-lbl-sts10: var(--silver-sts10, yellow);

    --a-img-ref-title-sts1: var(--silver-sts1, yellow);
    --a-img-ref-title-sts2: var(--silver-sts2, yellow);
    --a-img-ref-title-sts3: var(--silver-sts3, yellow);
    --a-img-ref-title-sts4: var(--silver-sts4, yellow);
    --a-img-ref-title-sts5: var(--silver-sts5, yellow);
    --a-img-ref-title-sts6: var(--silver-sts6, yellow);
    --a-img-ref-title-sts7: var(--silver-sts7, yellow);
    --a-img-ref-title-sts8: var(--silver-sts8, yellow);
    --a-img-ref-title-sts9: var(--silver-sts9, yellow);
    --a-img-ref-title-sts10: var(--silver-sts10, yellow);
    
}

