body {
    color: white;
    font-family: "Avenir Next";
    background-color: rgb(34,123,34);
    font-size: 16pt;
}

h1 {


    color: blue;
    font-size: 20pt;
	font-family: "Times New Roman";
}

h2 {
    color: red;
	font-size: 23pt;
	background-color: blue;
}

h2::tag {
    color: yellow;
}

strong {
    
    font-style: oblique;
}
