
css-style-sheet {
    font-family: Avenir Next;
    color: #b124;
}

property-name {
    color: rgba(23, 15, 221, 0.2);
}

property-value {
    color: #b34e;
}

pseudo-element-selector {
    color: rgba(54,65,211,0.6);
}

color-value {
    color: selected-value;
}

font-family-name {
    font-family: selected-value;
}

css-token.ident-token.silom {
    font-family: default;
}