@namespace "http://www.w3.org/Style/CSS/";

css-style-sheet {
    
    font-family: Menlo;
    font-size: 12pt
    font-style: normal;
    font-weight: normal;
    color: black;
    background-color: white;
}

