
:root {
    
    --body-b1: #fffcf7;
    --body-b2: #fff8eb;
    
    --caret-sts3: #2D99C8;
    --caret-sts4: #247BA0;
    
    --morning-blue-sts1: #dee3e0;
    --morning-blue-sts2: #c1c7bd;
    --morning-blue-sts3: #90a29d;
    --morning-blue-sts4: #889994;
    --morning-blue-sts5: #7f908b;
    --morning-blue-sts6: #6d7e79;
    --morning-blue-sts7: #657570;
    --morning-blue-sts8: #61716c;
    --morning-blue-sts9: #5c6c67;
    --morning-blue-sts10: #4a5955;
    
    --silver-chalice-sts1: #e0e2df;
    --silver-chalice-sts2: #d2d3cb;
    --silver-chalice-sts3: #a4aeab;
    --silver-chalice-sts4: #98a3a0;
    --silver-chalice-sts5: #929e9a;
    --silver-chalice-sts6: #8c9894;
    --silver-chalice-sts7: #86938f;
    --silver-chalice-sts8: #808d89;
    --silver-chalice-sts9: #7a8883;
    --silver-chalice-sts10: #73827d;
    
    --blue-green-sts1: #c8dde5;
    --blue-green-sts2: #87b1c0;
    --blue-green-sts3: #5696b0;
    --blue-green-sts4: #3d89a8;
    --blue-green-sts5: #247ba0;
    --blue-green-sts6: #206d8d;
    --blue-green-sts7: #1c5e7a;
    --blue-green-sts8: #1a5771;
    --blue-green-sts9: #184f67;
    --blue-green-sts10: #134053;
    
    --gainsboro-sts1: #f0eeec;
    --gainsboro-sts2: #f0ece6;
    --gainsboro-sts3: #e0e0e0;
    --gainsboro-sts4: #d6d6d6;
    --gainsboro-sts5: #cccccc;
    --gainsboro-sts6: #c2c2c2;
    --gainsboro-sts7: #b8b8b8;
    --gainsboro-sts8: #adadad;
    --gainsboro-sts9: #a3a3a3;
    --gainsboro-sts10: #999999;
    
    --cyclamen-0-sts1: #fbdbe3;
    --cyclamen-0-sts2: #f6b6c2;
    --cyclamen-0-sts3: #ed7498;
    --cyclamen-0-sts4: #ea638c;
    --cyclamen-0-sts5: #d45078;
    --cyclamen-0-sts6: #bd3c63;
    --cyclamen-0-sts7: #b23259;
    --cyclamen-0-sts8: #a7284e;
    --cyclamen-0-sts9: #9c1e44;
    --cyclamen-0-sts10: #901439;
    
    --cyclamen-1-sts1: #f9c8d4;
    --cyclamen-1-sts2: #f5abb9;
    --cyclamen-1-sts3: #ea5d87;
    --cyclamen-1-sts4: #d8537b;
    --cyclamen-1-sts5: #c6496e;
    --cyclamen-1-sts6: #b43f62;
    --cyclamen-1-sts7: #a23555;
    --cyclamen-1-sts8: #7e213c;
    --cyclamen-1-sts9: #6c172f;
    --cyclamen-1-sts10: #5a0c22;
    
    --emph-text-3-sts1: #CCCCCC;
    --emph-text-3-sts2: #8F8F8F;
    --emph-text-3-sts3: #333333;
    --emph-text-3-sts4: var(--cyclamen-1-sts4, yellow);
    --emph-text-3-sts5: var(--cyclamen-1-sts5, yellow);
    --emph-text-3-sts6: var(--cyclamen-1-sts6, yellow);
    --emph-text-3-sts7: var(--cyclamen-1-sts7, yellow);
    --emph-text-3-sts8: var(--cyclamen-1-sts8, yellow);
    --emph-text-3-sts9: var(--cyclamen-1-sts9, yellow);
    --emph-text-3-sts10: var(--cyclamen-1-sts10, yellow);
    
    --emph-text-2-sts1: #D0D0D0;
    --emph-text-2-sts2: #969696;
    --emph-text-2-sts3: #454545;
    --emph-text-2-sts4: #3d3d3d;
    --emph-text-2-sts5: #333333;
    --emph-text-2-sts6: #1f1f1f;
    --emph-text-2-sts7: var(--cyclamen-1-sts6, yellow);
    --emph-text-2-sts8: var(--cyclamen-1-sts7, yellow);
    --emph-text-2-sts9: var(--cyclamen-1-sts8, yellow);
    --emph-text-2-sts10: var(--cyclamen-1-sts9, yellow);
    
    --emph-text-1-sts1: #D4D4D4;
    --emph-text-1-sts2: #9C9C9C;
    --emph-text-1-sts3: #575757;
    --emph-text-1-sts4: #525252;
    --emph-text-1-sts5: #474747;
    --emph-text-1-sts6: #333333;
    --emph-text-1-sts7: var(--cyclamen-1-sts5, yellow);
    --emph-text-1-sts8: var(--cyclamen-1-sts6, yellow);
    --emph-text-1-sts9: var(--cyclamen-1-sts7, yellow);
    --emph-text-1-sts10: var(--cyclamen-1-sts8, yellow);
    
    --emph-text-0-sts1: #DCDCDC;
    --emph-text-0-sts2: #A3A3A3;
    --emph-text-0-sts3: #696969;
    --emph-text-0-sts4: #666666;
    --emph-text-0-sts5: #5c5c5c;
    --emph-text-0-sts6: #474747;
    --emph-text-0-sts7: var(--cyclamen-1-sts4, yellow);
    --emph-text-0-sts8: var(--cyclamen-1-sts5, yellow);
    --emph-text-0-sts9: var(--cyclamen-1-sts6, yellow);
    --emph-text-0-sts10: var(--cyclamen-1-sts6, yellow);
    
    --text-sts1: #E0E0E0;
    --text-sts2: #A9A9A9;
    --text-sts3: #7b7b7b;
    --text-sts4: #707070;
    --text-sts5: #666666;
    --text-sts6: #525252;
    --text-sts7: var(--cyclamen-0-sts7, yellow);
    --text-sts8: var(--cyclamen-0-sts8, yellow);
    --text-sts9: var(--cyclamen-0-sts9, yellow);
    --text-sts10: var(--cyclamen-0-sts10, yellow);
    
    --de-emph-text-0-sts1: #E4E4E4;
    --de-emph-text-0-sts2: #B6B6B6;
    --de-emph-text-0-sts3: #9f9f9f;
    --de-emph-text-0-sts4: #999999;
    --de-emph-text-0-sts5: #8f8f8f;
    --de-emph-text-0-sts6: #7a7a7a;
    --de-emph-text-0-sts7: var(--cyclamen-0-sts6, yellow);
    --de-emph-text-0-sts8: var(--cyclamen-0-sts7, yellow);
    --de-emph-text-0-sts9: var(--cyclamen-0-sts8, yellow);
    --de-emph-text-0-sts10: var(--cyclamen-0-sts9, yellow);
    
    --de-emph-text-1-sts1: #E8E8E8;
    --de-emph-text-1-sts2: #BCBCBC;
    --de-emph-text-1-sts3: #b1b1b1;
    --de-emph-text-1-sts4: #adadad;
    --de-emph-text-1-sts5: #a3a3a3;
    --de-emph-text-1-sts6: #8f8f8f;
    --de-emph-text-1-sts7: var(--cyclamen-0-sts5, yellow);
    --de-emph-text-1-sts8: var(--cyclamen-0-sts6, yellow);
    --de-emph-text-1-sts9: var(--cyclamen-0-sts8, yellow);
    --de-emph-text-1-sts10: var(--cyclamen-0-sts9, yellow);
    
    
    --de-emph-text-2-sts1: #EBEBEB;
    --de-emph-text-2-sts2: #C2C2C2;
    --de-emph-text-2-sts3: #c2c2c2;
    --de-emph-text-2-sts4: #b8b8b8;
    --de-emph-text-2-sts5: #adadad;
    --de-emph-text-2-sts6: #999999;
    --de-emph-text-2-sts7: var(--cyclamen-0-sts4, yellow);
    --de-emph-text-2-sts8: var(--cyclamen-0-sts5, yellow);
    --de-emph-text-2-sts9: var(--cyclamen-0-sts6, yellow);
    --de-emph-text-2-sts10: var(--cyclamen-0-sts7, yellow);
    
    
    --h-sts1: var(--emph-text-3-sts1, yellow);
    --h-sts2: var(--emph-text-3-sts2, yellow);
    --h-sts3: var(--emph-text-3-sts3, yellow);
    --h-sts4: var(--emph-text-3-sts4, yellow);
    --h-sts5: var(--emph-text-3-sts5, yellow);
    --h-sts6: var(--emph-text-3-sts6, yellow);
    --h-sts7: var(--emph-text-3-sts7, yellow);
    --h-sts8: var(--emph-text-3-sts8, yellow);
    --h-sts9: var(--emph-text-3-sts9, yellow);
    --h-sts10: var(--emph-text-3-sts10, yellow);
    
    --h-tag-sts1: var(--blue-green-sts1, yellow);
    --h-tag-sts2: var(--blue-green-sts2, yellow);
    --h-tag-sts3: var(--blue-green-sts3, yellow);
    --h-tag-sts4: var(--blue-green-sts4, yellow);
    --h-tag-sts5: var(--blue-green-sts5, yellow);
    --h-tag-sts6: var(--blue-green-sts6, yellow);
    --h-tag-sts7: var(--blue-green-sts7, yellow);
    --h-tag-sts8: var(--blue-green-sts8, yellow);
    --h-tag-sts9: var(--blue-green-sts9, yellow);
    --h-tag-sts10: var(--blue-green-sts10, yellow);
    
    --hr-sts1: var(--cyclamen-1-sts1, yellow);
    --hr-sts2: var(--cyclamen-1-sts2, yellow);
    --hr-sts3: var(--cyclamen-1-sts3, yellow);
    --hr-sts4: var(--cyclamen-1-sts4, yellow);
    --hr-sts5: var(--cyclamen-1-sts5, yellow);
    --hr-sts6: var(--cyclamen-1-sts6, yellow);
    --hr-sts7: var(--cyclamen-1-sts7, yellow);
    --hr-sts8: var(--cyclamen-1-sts8, yellow);
    --hr-sts9: var(--cyclamen-1-sts9, yellow);
    --hr-sts10: var(--cyclamen-1-sts10, yellow);
    
    --s-sts1: var(--de-emph-text-2-sts1, yellow);
    --s-sts2: var(--de-emph-text-2-sts2, yellow);
    --s-sts3: var(--de-emph-text-2-sts3, yellow);
    --s-sts4: var(--de-emph-text-2-sts4, yellow);
    --s-sts5: var(--de-emph-text-2-sts5, yellow);
    --s-sts6: var(--de-emph-text-2-sts6, yellow);
    --s-sts7: var(--de-emph-text-2-sts7, yellow);
    --s-sts8: var(--de-emph-text-2-sts8, yellow);
    --s-sts9: var(--de-emph-text-2-sts9, yellow);
    --s-sts10: var(--de-emph-text-2-sts10, yellow);
    
    --h-s-sts1: var(--de-emph-text-1-sts1, yellow);
    --h-s-sts2: var(--de-emph-text-1-sts2, yellow);
    --h-s-sts3: var(--de-emph-text-1-sts3, yellow);
    --h-s-sts4: var(--de-emph-text-1-sts4, yellow);
    --h-s-sts5: var(--de-emph-text-1-sts5, yellow);
    --h-s-sts6: var(--de-emph-text-1-sts6, yellow);
    --h-s-sts7: var(--de-emph-text-1-sts7, yellow);
    --h-s-sts8: var(--de-emph-text-1-sts8, yellow);
    --h-s-sts9: var(--de-emph-text-1-sts9, yellow);
    --h-s-sts10: var(--de-emph-text-1-sts10, yellow);
    
    --h-s-tag-sts1: var(--de-emph-text-0-sts1, yellow);
    --h-s-tag-sts2: var(--de-emph-text-0-sts2, yellow);
    --h-s-tag-sts3: var(--de-emph-text-0-sts3, yellow);
    --h-s-tag-sts4: var(--de-emph-text-0-sts4, yellow);
    --h-s-tag-sts5: var(--de-emph-text-0-sts5, yellow);
    --h-s-tag-sts6: var(--de-emph-text-0-sts6, yellow);
    --h-s-tag-sts7: var(--de-emph-text-0-sts7, yellow);
    --h-s-tag-sts8: var(--de-emph-text-0-sts8, yellow);
    --h-s-tag-sts9: var(--de-emph-text-0-sts9, yellow);
    --h-s-tag-sts10: var(--de-emph-text-0-sts10, yellow);
    
    --h-s-strikethrough-sts1: var(--cyclamen-0-sts1, yellow);
    --h-s-strikethrough-sts2: var(--cyclamen-0-sts2, yellow);
    --h-s-strikethrough-sts3: var(--cyclamen-0-sts3, yellow);
    --h-s-strikethrough-sts4: var(--cyclamen-0-sts4, yellow);
    --h-s-strikethrough-sts5: var(--cyclamen-0-sts5, yellow);
    --h-s-strikethrough-sts6: var(--cyclamen-0-sts6, yellow);
    --h-s-strikethrough-sts7: var(--cyclamen-0-sts7, yellow);
    --h-s-strikethrough-sts8: var(--cyclamen-0-sts8, yellow);
    --h-s-strikethrough-sts9: var(--cyclamen-0-sts9, yellow);
    --h-s-strikethrough-sts10: var(--cyclamen-0-sts10, yellow);
    
    
    --s-strikethrough-sts1: var(--cyclamen-0-sts1, yellow);
    --s-strikethrough-sts2: var(--cyclamen-0-sts2, yellow);
    --s-strikethrough-sts3: var(--cyclamen-0-sts3, yellow);
    --s-strikethrough-sts4: var(--cyclamen-0-sts4, yellow);
    --s-strikethrough-sts5: var(--cyclamen-0-sts5, yellow);
    --s-strikethrough-sts6: var(--cyclamen-0-sts6, yellow);
    --s-strikethrough-sts7: var(--cyclamen-0-sts7, yellow);
    --s-strikethrough-sts8: var(--cyclamen-0-sts8, yellow);
    --s-strikethrough-sts9: var(--cyclamen-0-sts9, yellow);
    --s-strikethrough-sts10: var(--cyclamen-0-sts10, yellow);
    
    --s-tag-sts1: var(--de-emph-text-0-sts1, yellow);
    --s-tag-sts2: var(--de-emph-text-0-sts2, yellow);
    --s-tag-sts3: var(--de-emph-text-0-sts3, yellow);
    --s-tag-sts4: var(--de-emph-text-0-sts4, yellow);
    --s-tag-sts5: var(--de-emph-text-0-sts5, yellow);
    --s-tag-sts6: var(--de-emph-text-0-sts6, yellow);
    --s-tag-sts7: var(--de-emph-text-0-sts7, yellow);
    --s-tag-sts8: var(--de-emph-text-0-sts8, yellow);
    --s-tag-sts9: var(--de-emph-text-0-sts9, yellow);
    --s-tag-sts10: var(--de-emph-text-0-sts10, yellow);
    
    --strong-em-sts1: var(--emph-text-1-sts1, yellow);
    --strong-em-sts2: var(--emph-text-1-sts2, yellow);
    --strong-em-sts3: var(--emph-text-1-sts3, yellow);
    --strong-em-sts4: var(--emph-text-1-sts4, yellow);
    --strong-em-sts5: var(--emph-text-1-sts5, yellow);
    --strong-em-sts6: var(--emph-text-1-sts6, yellow);
    --strong-em-sts7: var(--emph-text-1-sts7, yellow);
    --strong-em-sts8: var(--emph-text-1-sts8, yellow);
    --strong-em-sts9: var(--emph-text-1-sts9, yellow);
    --strong-em-sts10: var(--emph-text-1-sts10, yellow);
    
    --strong-em-tag-sts1: var(--de-emph-text-0-sts1, yellow);
    --strong-em-tag-sts2: var(--de-emph-text-0-sts2, yellow);
    --strong-em-tag-sts3: var(--de-emph-text-0-sts3, yellow);
    --strong-em-tag-sts4: var(--de-emph-text-0-sts4, yellow);
    --strong-em-tag-sts5: var(--de-emph-text-0-sts5, yellow);
    --strong-em-tag-sts6: var(--de-emph-text-0-sts6, yellow);
    --strong-em-tag-sts7: var(--de-emph-text-0-sts7, yellow);
    --strong-em-tag-sts8: var(--de-emph-text-0-sts8, yellow);
    --strong-em-tag-sts9: var(--de-emph-text-0-sts9, yellow);
    --strong-em-tag-sts10: var(--de-emph-text-0-sts10, yellow);
    
    --h-strong-em-sts1: var(--emph-text-0-sts1, yellow);
    --h-strong-em-sts2: var(--emph-text-0-sts2, yellow);
    --h-strong-em-sts3: var(--emph-text-0-sts3, yellow);
    --h-strong-em-sts4: var(--emph-text-0-sts4, yellow);
    --h-strong-em-sts5: var(--emph-text-0-sts5, yellow);
    --h-strong-em-sts6: var(--emph-text-0-sts6, yellow);
    --h-strong-em-sts7: var(--emph-text-0-sts7, yellow);
    --h-strong-em-sts8: var(--emph-text-0-sts8, yellow);
    --h-strong-em-sts9: var(--emph-text-0-sts9, yellow);
    --h-strong-em-sts10: var(--emph-text-0-sts10, yellow);
    
    --h-strong-em-tag-sts1: var(--text-sts1, yellow);
    --h-strong-em-tag-sts2: var(--text-sts2, yellow);
    --h-strong-em-tag-sts3: var(--text-sts3, yellow);
    --h-strong-em-tag-sts4: var(--text-sts4, yellow);
    --h-strong-em-tag-sts5: var(--text-sts5, yellow);
    --h-strong-em-tag-sts6: var(--text-sts6, yellow);
    --h-strong-em-tag-sts7: var(--text-sts7, yellow);
    --h-strong-em-tag-sts8: var(--text-sts8, yellow);
    --h-strong-em-tag-sts9: var(--text-sts9, yellow);
    --h-strong-em-tag-sts10: var(--text-sts10, yellow);
    
    --blockquote-tag-sts1: var(--text-sts1, yellow);
    --blockquote-tag-sts2: var(--text-sts2, yellow);
    --blockquote-tag-sts3: var(--text-sts3, yellow);
    --blockquote-tag-sts4: var(--text-sts4, yellow);
    --blockquote-tag-sts5: var(--text-sts5, yellow);
    --blockquote-tag-sts6: var(--text-sts6, yellow);
    --blockquote-tag-sts7: var(--text-sts7, yellow);
    --blockquote-tag-sts8: var(--text-sts8, yellow);
    --blockquote-tag-sts9: var(--text-sts9, yellow);
    --blockquote-tag-sts10: var(--text-sts10, yellow);
    
    --blockquote-sts1: var(--de-emph-text-0-sts1, yellow);
    --blockquote-sts2: var(--de-emph-text-0-sts2, yellow);
    --blockquote-sts3: var(--de-emph-text-0-sts3, yellow);
    --blockquote-sts4: var(--de-emph-text-0-sts4, yellow);
    --blockquote-sts5: var(--de-emph-text-0-sts5, yellow);
    --blockquote-sts6: var(--de-emph-text-0-sts6, yellow);
    --blockquote-sts7: var(--de-emph-text-0-sts7, yellow);
    --blockquote-sts8: var(--de-emph-text-0-sts8, yellow);
    --blockquote-sts9: var(--de-emph-text-0-sts9, yellow);
    --blockquote-sts10: var(--de-emph-text-0-sts10, yellow);
    
    --ul-sts1: var(--emph-text-1-sts1, yellow);
    --ul-sts2: var(--emph-text-1-sts2, yellow);
    --ul-sts3: var(--emph-text-1-sts3, yellow);
    --ul-sts4: var(--emph-text-1-sts4, yellow);
    --ul-sts5: var(--emph-text-1-sts5, yellow);
    --ul-sts6: var(--emph-text-1-sts6, yellow);
    --ul-sts7: var(--emph-text-1-sts7, yellow);
    --ul-sts8: var(--emph-text-1-sts8, yellow);
    --ul-sts9: var(--emph-text-1-sts9, yellow);
    --ul-sts10: var(--emph-text-1-sts10, yellow);
    
    --ol-sts1: var(--emph-text-1-sts1, yellow);
    --ol-sts2: var(--emph-text-1-sts2, yellow);
    --ol-sts3: var(--emph-text-1-sts3, yellow);
    --ol-sts4: var(--emph-text-1-sts4, yellow);
    --ol-sts5: var(--emph-text-1-sts5, yellow);
    --ol-sts6: var(--emph-text-1-sts6, yellow);
    --ol-sts7: var(--emph-text-1-sts7, yellow);
    --ol-sts8: var(--emph-text-1-sts8, yellow);
    --ol-sts9: var(--emph-text-1-sts9, yellow);
    --ol-sts10: var(--emph-text-1-sts10, yellow);
    
    --li-sts1: var(--emph-text-0-sts1, yellow);
    --li-sts2: var(--emph-text-0-sts2, yellow);
    --li-sts3: var(--emph-text-0-sts3, yellow);
    --li-sts4: var(--emph-text-0-sts4, yellow);
    --li-sts5: var(--emph-text-0-sts5, yellow);
    --li-sts6: var(--emph-text-0-sts6, yellow);
    --li-sts7: var(--emph-text-0-sts7, yellow);
    --li-sts8: var(--emph-text-0-sts8, yellow);
    --li-sts9: var(--emph-text-0-sts9, yellow);
    --li-sts10: var(--emph-text-0-sts10, yellow);
    
    --li-tag-sts1: var(--de-emph-text-0-sts1, yellow);
    --li-tag-sts2: var(--de-emph-text-0-sts2, yellow);
    --li-tag-sts3: var(--de-emph-text-0-sts3, yellow);
    --li-tag-sts4: var(--de-emph-text-0-sts4, yellow);
    --li-tag-sts5: var(--de-emph-text-0-sts5, yellow);
    --li-tag-sts6: var(--de-emph-text-0-sts6, yellow);
    --li-tag-sts7: var(--de-emph-text-0-sts7, yellow);
    --li-tag-sts8: var(--de-emph-text-0-sts8, yellow);
    --li-tag-sts9: var(--de-emph-text-0-sts9, yellow);
    --li-tag-sts10: var(--de-emph-text-0-sts10, yellow);
    
    --code-sts1: var(--de-emph-text-2-sts1, yellow);
    --code-sts2: var(--de-emph-text-2-sts2, yellow);
    --code-sts3: var(--de-emph-text-2-sts3, yellow);
    --code-sts4: var(--de-emph-text-2-sts4, yellow);
    --code-sts5: var(--de-emph-text-2-sts5, yellow);
    --code-sts6: var(--de-emph-text-2-sts6, yellow);
    --code-sts7: var(--de-emph-text-2-sts7, yellow);
    --code-sts8: var(--de-emph-text-2-sts8, yellow);
    --code-sts9: var(--de-emph-text-2-sts9, yellow);
    --code-sts10: var(--de-emph-text-2-sts10, yellow);
    
    --code-tag-sts1: var(--text-sts1, yellow);
    --code-tag-sts2: var(--text-sts2, yellow);
    --code-tag-sts3: var(--text-sts3, yellow);
    --code-tag-sts4: var(--text-sts4, yellow);
    --code-tag-sts5: var(--text-sts5, yellow);
    --code-tag-sts6: var(--text-sts6, yellow);
    --code-tag-sts7: var(--text-sts7, yellow);
    --code-tag-sts8: var(--text-sts8, yellow);
    --code-tag-sts9: var(--text-sts9, yellow);
    --code-tag-sts10: var(--text-sts10, yellow);
    
    --code-params-sts1: var(--de-emph-text-1-sts1, yellow);
    --code-params-sts2: var(--de-emph-text-1-sts2, yellow);
    --code-params-sts3: var(--de-emph-text-1-sts3, yellow);
    --code-params-sts4: var(--de-emph-text-1-sts4, yellow);
    --code-params-sts5: var(--de-emph-text-1-sts5, yellow);
    --code-params-sts6: var(--de-emph-text-1-sts6, yellow);
    --code-params-sts7: var(--de-emph-text-1-sts7, yellow);
    --code-params-sts8: var(--de-emph-text-1-sts8, yellow);
    --code-params-sts9: var(--de-emph-text-1-sts9, yellow);
    --code-params-sts10: var(--de-emph-text-1-sts10, yellow);
    
    --table-sts1: var(--emph-text-1-sts1, yellow);
    --table-sts2: var(--emph-text-1-sts2, yellow);
    --table-sts3: var(--emph-text-1-sts3, yellow);
    --table-sts4: var(--emph-text-1-sts4, yellow);
    --table-sts5: var(--emph-text-1-sts5, yellow);
    --table-sts6: var(--emph-text-1-sts6, yellow);
    --table-sts7: var(--emph-text-1-sts7, yellow);
    --table-sts8: var(--emph-text-1-sts8, yellow);
    --table-sts9: var(--emph-text-1-sts9, yellow);
    --table-sts10: var(--emph-text-1-sts10, yellow);
    
    --table-tag-sts1: var(--text-sts1, yellow);
    --table-tag-sts2: var(--text-sts2, yellow);
    --table-tag-sts3: var(--text-sts3, yellow);
    --table-tag-sts4: var(--text-sts4, yellow);
    --table-tag-sts5: var(--text-sts5, yellow);
    --table-tag-sts6: var(--text-sts6, yellow);
    --table-tag-sts7: var(--text-sts7, yellow);
    --table-tag-sts8: var(--text-sts8, yellow);
    --table-tag-sts9: var(--text-sts9, yellow);
    --table-tag-sts10: var(--text-sts10, yellow);
    
    --thead-sts1: var(--emph-text-1-sts1, yellow);
    --thead-sts2: var(--emph-text-1-sts2, yellow);
    --thead-sts3: var(--emph-text-1-sts3, yellow);
    --thead-sts4: var(--emph-text-1-sts4, yellow);
    --thead-sts5: var(--emph-text-1-sts5, yellow);
    --thead-sts6: var(--emph-text-1-sts6, yellow);
    --thead-sts7: var(--emph-text-1-sts7, yellow);
    --thead-sts8: var(--emph-text-1-sts8, yellow);
    --thead-sts9: var(--emph-text-1-sts9, yellow);
    --thead-sts10: var(--emph-text-1-sts10, yellow);
    
    --tbody-sts1: var(--emph-text-2-sts1, yellow);
    --tbody-sts2: var(--emph-text-2-sts2, yellow);
    --tbody-sts3: var(--emph-text-2-sts3, yellow);
    --tbody-sts4: var(--emph-text-2-sts4, yellow);
    --tbody-sts5: var(--emph-text-2-sts5, yellow);
    --tbody-sts6: var(--emph-text-2-sts6, yellow);
    --tbody-sts7: var(--emph-text-2-sts7, yellow);
    --tbody-sts8: var(--emph-text-2-sts8, yellow);
    --tbody-sts9: var(--emph-text-2-sts9, yellow);
    --tbody-sts10: var(--emph-text-2-sts10, yellow);
    
    --a-img-ref-sts1: var(--text-sts1, yellow);
    --a-img-ref-sts2: var(--text-sts2, yellow);
    --a-img-ref-sts3: var(--text-sts3, yellow);
    --a-img-ref-sts4: var(--text-sts4, yellow);
    --a-img-ref-sts5: var(--text-sts5, yellow);
    --a-img-ref-sts6: var(--text-sts6, yellow);
    --a-img-ref-sts7: var(--text-sts7, yellow);
    --a-img-ref-sts8: var(--text-sts8, yellow);
    --a-img-ref-sts9: var(--text-sts9, yellow);
    --a-img-ref-sts10: var(--text-sts10, yellow)
    
    --h-a-img-sts1: var(--text-sts1, yellow);
    --h-a-img-sts2: var(--text-sts2, yellow);
    --h-a-img-sts3: var(--text-sts3, yellow);
    --h-a-img-sts4: var(--text-sts4, yellow);
    --h-a-img-sts5: var(--text-sts5, yellow);
    --h-a-img-sts6: var(--text-sts6, yellow);
    --h-a-img-sts7: var(--text-sts7, yellow);
    --h-a-img-sts8: var(--text-sts8, yellow);
    --h-a-img-sts9: var(--text-sts9, yellow);
    --h-a-img-sts10: var(--text-sts10, yellow);
    
    --h-a-img-tag-sts1: var(--de-emph-text-2-sts1, yellow);
    --h-a-img-tag-sts2: var(--de-emph-text-2-sts2, yellow);
    --h-a-img-tag-sts3: var(--de-emph-text-2-sts3, yellow);
    --h-a-img-tag-sts4: var(--de-emph-text-2-sts4, yellow);
    --h-a-img-tag-sts5: var(--de-emph-text-2-sts5, yellow);
    --h-a-img-tag-sts6: var(--de-emph-text-2-sts6, yellow);
    --h-a-img-tag-sts7: var(--de-emph-text-2-sts7, yellow);
    --h-a-img-tag-sts8: var(--de-emph-text-2-sts8, yellow);
    --h-a-img-tag-sts9: var(--de-emph-text-2-sts9, yellow);
    --h-a-img-tag-sts10: var(--de-emph-text-2-sts10, yellow);
    
    --h-a-img-title-sts1: var(--emph-text-3-sts1, yellow);
    --h-a-img-title-sts2: var(--emph-text-3-sts2, yellow);
    --h-a-img-title-sts3: var(--emph-text-3-sts3, yellow);
    --h-a-img-title-sts4: var(--emph-text-3-sts4, yellow);
    --h-a-img-title-sts5: var(--emph-text-3-sts5, yellow);
    --h-a-img-title-sts6: var(--emph-text-3-sts6, yellow);
    --h-a-img-title-sts7: var(--emph-text-3-sts7, yellow);
    --h-a-img-title-sts8: var(--emph-text-3-sts8, yellow);
    --h-a-img-title-sts9: var(--emph-text-3-sts9, yellow);
    --h-a-img-title-sts10: var(--emph-text-3-sts10, yellow);
    
    --a-img-ref-title-sts1: var(--emph-text-3-sts1, yellow);
    --a-img-ref-title-sts2: var(--emph-text-3-sts2, yellow);
    --a-img-ref-title-sts3: var(--emph-text-3-sts3, yellow);
    --a-img-ref-title-sts4: var(--emph-text-3-sts4, yellow);
    --a-img-ref-title-sts5: var(--emph-text-3-sts5, yellow);
    --a-img-ref-title-sts6: var(--emph-text-3-sts6, yellow);
    --a-img-ref-title-sts7: var(--emph-text-3-sts7, yellow);
    --a-img-ref-title-sts8: var(--emph-text-3-sts8, yellow);
    --a-img-ref-title-sts9: var(--emph-text-3-sts9, yellow);
    --a-img-ref-title-sts10: var(--emph-text-3-sts10, yellow);
    
    --h-a-img-lbl-sts1: var(--emph-text-3-sts1, yellow);
    --h-a-img-lbl-sts2: var(--emph-text-3-sts2, yellow);
    --h-a-img-lbl-sts3: var(--emph-text-3-sts3, yellow);
    --h-a-img-lbl-sts4: var(--emph-text-3-sts4, yellow);
    --h-a-img-lbl-sts5: var(--emph-text-3-sts5, yellow);
    --h-a-img-lbl-sts6: var(--emph-text-3-sts6, yellow);
    --h-a-img-lbl-sts7: var(--emph-text-3-sts7, yellow);
    --h-a-img-lbl-sts8: var(--emph-text-3-sts8, yellow);
    --h-a-img-lbl-sts9: var(--emph-text-3-sts9, yellow);
    --h-a-img-lbl-sts10: var(--emph-text-3-sts10, yellow);
    
    --h-a-img-dest-sts1: var(--text-sts1, yellow);
    --h-a-img-dest-sts2: var(--text-sts2, yellow);
    --h-a-img-dest-sts3: var(--text-sts3, yellow);
    --h-a-img-dest-sts4: var(--text-sts4, yellow);
    --h-a-img-dest-sts5: var(--text-sts5, yellow);
    --h-a-img-dest-sts6: var(--text-sts6, yellow);
    --h-a-img-dest-sts7: var(--text-sts7, yellow);
    --h-a-img-dest-sts8: var(--text-sts8, yellow);
    --h-a-img-dest-sts9: var(--text-sts9, yellow);
    --h-a-img-dest-sts10: var(--text-sts10, yellow);
    
    --h-a-img-text-sts1: var(--emph-text-3-sts1, yellow);
    --h-a-img-text-sts2: var(--emph-text-3-sts2, yellow);
    --h-a-img-text-sts3: var(--emph-text-3-sts3, yellow);
    --h-a-img-text-sts4: var(--emph-text-3-sts4, yellow);
    --h-a-img-text-sts5: var(--emph-text-3-sts5, yellow);
    --h-a-img-text-sts6: var(--emph-text-3-sts6, yellow);
    --h-a-img-text-sts7: var(--emph-text-3-sts7, yellow);
    --h-a-img-text-sts8: var(--emph-text-3-sts8, yellow);
    --h-a-img-text-sts9: var(--emph-text-3-sts9, yellow);
    --h-a-img-text-sts10: var(--emph-text-3-sts10, yellow);
    
    --a-img-ref-tag-sts1: var(--de-emph-text-2-sts1, yellow);
    --a-img-ref-tag-sts2: var(--de-emph-text-2-sts2, yellow);
    --a-img-ref-tag-sts3: var(--de-emph-text-2-sts3, yellow);
    --a-img-ref-tag-sts4: var(--de-emph-text-2-sts4, yellow);
    --a-img-ref-tag-sts5: var(--de-emph-text-2-sts5, yellow);
    --a-img-ref-tag-sts6: var(--de-emph-text-2-sts6, yellow);
    --a-img-ref-tag-sts7: var(--de-emph-text-2-sts7, yellow);
    --a-img-ref-tag-sts8: var(--de-emph-text-2-sts8, yellow);
    --a-img-ref-tag-sts9: var(--de-emph-text-2-sts9, yellow);
    --a-img-ref-tag-sts10: var(--de-emph-text-2-sts10, yellow);
    
    --a-img-ref-text-sts1: var(--emph-text-3-sts1, yellow);
    --a-img-ref-text-sts2: var(--emph-text-3-sts2, yellow);
    --a-img-ref-text-sts3: var(--emph-text-3-sts3, yellow);
    --a-img-ref-text-sts4: var(--emph-text-3-sts4, yellow);
    --a-img-ref-text-sts5: var(--emph-text-3-sts5, yellow);
    --a-img-ref-text-sts6: var(--emph-text-3-sts6, yellow);
    --a-img-ref-text-sts7: var(--emph-text-3-sts7, yellow);
    --a-img-ref-text-sts8: var(--emph-text-3-sts8, yellow);
    --a-img-ref-text-sts9: var(--emph-text-3-sts9, yellow);
    --a-img-ref-text-sts10: var(--emph-text-3-sts10, yellow);
    
    --a-img-ref-dest-sts1: var(--text-sts1, yellow);
    --a-img-ref-dest-sts2: var(--text-sts2, yellow);
    --a-img-ref-dest-sts3: var(--text-sts3, yellow);
    --a-img-ref-dest-sts4: var(--text-sts4, yellow);
    --a-img-ref-dest-sts5: var(--text-sts5, yellow);
    --a-img-ref-dest-sts6: var(--text-sts6, yellow);
    --a-img-ref-dest-sts7: var(--text-sts7, yellow);
    --a-img-ref-dest-sts8: var(--text-sts8, yellow);
    --a-img-ref-dest-sts9: var(--text-sts9, yellow);
    --a-img-ref-dest-sts10: var(--text-sts10, yellow);
    
    --a-img-ref-lbl-sts1: var(--emph-text-1-sts1, yellow);
    --a-img-ref-lbl-sts2: var(--emph-text-1-sts2, yellow);
    --a-img-ref-lbl-sts3: var(--emph-text-1-sts3, yellow);
    --a-img-ref-lbl-sts4: var(--emph-text-1-sts4, yellow);
    --a-img-ref-lbl-sts5: var(--emph-text-1-sts5, yellow);
    --a-img-ref-lbl-sts6: var(--emph-text-1-sts6, yellow);
    --a-img-ref-lbl-sts7: var(--emph-text-1-sts7, yellow);
    --a-img-ref-lbl-sts8: var(--emph-text-1-sts8, yellow);
    --a-img-ref-lbl-sts9: var(--emph-text-1-sts9, yellow);
    --a-img-ref-lbl-sts10: var(--emph-text-1-sts10, yellow);
    
    --a-img-ref-title-sts1: var(--emph-text-0-sts1, yellow);
    --a-img-ref-title-sts2: var(--emph-text-0-sts2, yellow);
    --a-img-ref-title-sts3: var(--emph-text-0-sts3, yellow);
    --a-img-ref-title-sts4: var(--emph-text-0-sts4, yellow);
    --a-img-ref-title-sts5: var(--emph-text-0-sts5, yellow);
    --a-img-ref-title-sts6: var(--emph-text-0-sts6, yellow);
    --a-img-ref-title-sts7: var(--emph-text-0-sts7, yellow);
    --a-img-ref-title-sts8: var(--emph-text-0-sts8, yellow);
    --a-img-ref-title-sts9: var(--emph-text-0-sts9, yellow);
    --a-img-ref-title-sts10: var(--emph-text-0-sts10, yellow);
    
    --html-block-sts1: var(--de-emph-text-2-sts1, yellow);
    --html-block-sts2: var(--de-emph-text-2-sts2, yellow);
    --html-block-sts3: var(--de-emph-text-2-sts3, yellow);
    --html-block-sts4: var(--de-emph-text-2-sts4, yellow);
    --html-block-sts5: var(--de-emph-text-2-sts5, yellow);
    --html-block-sts6: var(--de-emph-text-2-sts6, yellow);
    --html-block-sts7: var(--de-emph-text-2-sts7, yellow);
    --html-block-sts8: var(--de-emph-text-2-sts8, yellow);
    --html-block-sts9: var(--de-emph-text-2-sts9, yellow);
    --html-block-sts10: var(--de-emph-text-2-sts10, yellow);
    
    --attr-bloc-tag-sts1: var(--gainsboro-sts1, yellow);
    --attr-bloc-tag-sts2: var(--gainsboro-sts2, yellow);
    --attr-bloc-tag-sts3: var(--gainsboro-sts3, yellow);
    --attr-bloc-tag-sts4: var(--gainsboro-sts4, yellow);
    --attr-bloc-tag-sts5: var(--gainsboro-sts5, yellow);
    --attr-bloc-tag-sts6: var(--gainsboro-sts6, yellow);
    --attr-bloc-tag-sts7: var(--gainsboro-sts7, yellow);
    --attr-bloc-tag-sts8: var(--gainsboro-sts8, yellow);
    --attr-bloc-tag-sts9: var(--gainsboro-sts9, yellow);
    --attr-bloc-tag-sts10: var(--gainsboro-sts10, yellow);
    
    --key-value-attr-class-attr-id-attr-sts1: var(--morning-blue-sts1, yellow);
    --key-value-attr-class-attr-id-attr-sts2: var(--morning-blue-sts2, yellow);
    --key-value-attr-class-attr-id-attr-sts3: var(--morning-blue-sts3, yellow);
    --key-value-attr-class-attr-id-attr-sts4: var(--morning-blue-sts4, yellow);
    --key-value-attr-class-attr-id-attr-sts5: var(--morning-blue-sts5, yellow);
    --key-value-attr-class-attr-id-attr-sts6: var(--morning-blue-sts6, yellow);
    --key-value-attr-class-attr-id-attr-sts7: var(--morning-blue-sts7, yellow);
    --key-value-attr-class-attr-id-attr-sts8: var(--morning-blue-sts8, yellow);
    --key-value-attr-class-attr-id-attr-sts9: var(--morning-blue-sts9, yellow);
    --key-value-attr-class-attr-id-attr-sts10: var(--morning-blue-sts10, yellow);
    
    --key-value-attr-class-attr-id-attr-tag-sts1: var(--silver-chalice-sts1, yellow);
    --key-value-attr-class-attr-id-attr-tag-sts2: var(--silver-chalice-sts2, yellow);
    --key-value-attr-class-attr-id-attr-tag-sts3: var(--silver-chalice-sts3, yellow);
    --key-value-attr-class-attr-id-attr-tag-sts4: var(--silver-chalice-sts4, yellow);
    --key-value-attr-class-attr-id-attr-tag-sts5: var(--silver-chalice-sts5, yellow);
    --key-value-attr-class-attr-id-attr-tag-sts6: var(--silver-chalice-sts6, yellow);
    --key-value-attr-class-attr-id-attr-tag-sts7: var(--silver-chalice-sts7, yellow);
    --key-value-attr-class-attr-id-attr-tag-sts8: var(--silver-chalice-sts8, yellow);
    --key-value-attr-class-attr-id-attr-tag-sts9: var(--silver-chalice-sts9, yellow);
    --key-value-attr-class-attr-id-attr-tag-sts10: var(--silver-chalice-sts10, yellow);
    
    
    
}
