/**************************************************************
 Pseudo CSS User Agent StyleSheet
 
 This is the user agent style sheet for any other css style sheet.
 
 **************************************************************/

css-style-sheet {
    font-size: 12pt;
    font-family: Courier New;
}

/**************************************************************
 
 The generated tree for font-family property declaration
 with this example :
 
 font-family : “Times New Roman”, Arial;
 
 looks like the following :
 
 ::declaration
 font-family.property-name
 ::property-value
 - string.font-family-name (Times New Roman)
 - arial.keyword.font-family-name (Arial)
 
 we can style the each font-family property value to it's
 own computed value usging the following css :
 with the following:
 
 **************************************************************/

font-family .font-family-name {
    font-family: selected-value;
}