
@namespace "http://www.w3.org/Style/CSS/";

css-style-sheet {

    --red: rgb(235,77,61);
    --fadded-red: rgba(235,77,61, 0.4);
    --yellow: rgb(247,205,70);
    font-family: var(--theme-foreground-fontFamily, "Noto Sans Mono");
    font-size: var(--theme-foreground-fontSize, 11pt);
    font-style: var(--theme-foreground-fontStyle, normal);
    font-weight: var(--theme-foreground-fontWeight, normal);
    color: var(--theme-foreground-color, gray);
    background-color: var(--theme-background-color, black);
}

[nw-message-id] {

    color: var(--theme-unselectedErrorMessage-color, rgba(255,0,0,0.5)) !important;
    font-size: var(--theme-unselectedErrorMessage-fontSize, 11pt);
    font-style: var(--theme-unselectedErrorMessage-fontStyle, normal);
    font-weight: var(--theme-unselectedErrorMessage-fontWeight, normal);
    
}

/* the later will select only the error to highlight */

/***********

 Important Note: This rule should always be the last rule

 ***********/
[nw-message-id~=""].error {

    font-family: var(--theme-foreground-fontFamily, NotoSansMono-Regular);
    color: var(--theme-selectedErrorMessage-color, red) !important;
    font-size: var(--theme-selectedErrorMessage-fontSize, 11pt);
    font-style: var(--theme-selectedErrorMessage-fontStyle, normal);
    caret-color: var(--theme-caret-color, black);
}

[nw-message-id~=""].warning {

    color: var(--theme-selectedWarningMessage-color, yellow) !important;
    font-size: var(--theme-selectedWarningMessage-fontSize, 11pt);
}

[nw-message-id~=""].warning * {

    color: var(--theme-selectedWarningMessage-color, yellow) !important;
}
